%h2= t('.title', :name => h(@organization))

- unless @organization.is_admin? current_user
  %p= t('organizations.you_are_not_admin')

%h3= t('.admins.title')
%p= t('.admins.explain')
.users.users_admins
  - if @organization.admins.any?
    - @organization.admins.in_alphabetical_order.each do |user|
      %p.user
        = micro_avatar(user)
        =h user.name
        - if can?(:admin, @organization) and user != current_user
          %span.role
            = link_to t('.remove_admin'), change_role_organization_membership_path(@organization, user.id, :role => Membership::ROLES[:participant])
            = t('common.or')
            = link_to t('.remove'), remove_organization_membership_path(@organization, user.id)
        .clear
  - else
    %p.empty= t('.no_users')

%h3= t('.users.title')
%p= t('.users.explain')
.users.users_participants
  - if @organization.participants.any?
    - @organization.participants.in_alphabetical_order.each do |user|
      %p.user
        = micro_avatar(user)
        =h user.name
        - if can?(:admin, @organization)
          %span.role
            = link_to t('.make_admin'), change_role_organization_membership_path(@organization, user.id, :role => Membership::ROLES[:admin])
            = t('common.or')
            = link_to t('.remove'), remove_organization_membership_path(@organization, user.id)
        .clear
  - else
    %p.empty= t('.no_users')

%h3= t('.in_projects_but_not_in_the_organization.title')
%p= t('.in_projects_but_not_in_the_organization.explain')
.users.users_external
  - if @organization.external_users.any?
    - @organization.external_users.each do |user|
      %p.user
        = micro_avatar(user)
        =h user.name
        - if can?(:admin, @organization)
          %span.role
            = link_to t('.add_to_the_org'), add_organization_membership_path(@organization, user.id, :role => 20)
            = t('common.or')
            = link_to t('.add_as_admin'), add_organization_membership_path(@organization, user.id, :role => 30)
        .clear
  - else
    %p.empty= t('.no_users')
