.login.text_field
  = label_tag t('.username_or_email')
  = text_field_tag 'login', @login, :class => 'focus'
.password.text_field
  = label_tag t('.password')
  = password_field_tag 'password', nil
  %p= link_to 'Forgot your password?', ''