%h2= t('.title')

- form_tag session_path, :class => 'new_session', :id => 'new_session' do
  = upgrade_browser
  = session_fields
  = submit_tag t('.submit')

= render :partial => 'sessions/oauth_login'

- content_for :column do
  = latest_announcement