%h2= t('.title')

- form_tag session_path, :class => 'new_session', :id => 'new_session' do
  - if t('latest_announcement').length > 5
    #primer
      .box{ :style => 'font-size:12px;margin:5px'}
        %p= t('latest_announcement')
  = session_fields
  = submit_tag t('.submit')

= javascript_tag("$('new_session').auto_focus();")
