%h2= t('.title')

- form_tag session_path, :class => 'new_session', :id => 'new_session' do
  - if flash[:error]
    %p.error= flash[:error]
  = render 'sessions/fields'
  = submit_tag t('.submit')
  
  %p= link_to t('sessions.fields.forgot'), forgot_password_path, :tabindex => 203