%p.actions{ :style => "display: none" }
  %span
    = link_to pencil_image, edit_project_page_note_path(note.project, note.page, note),
        :'data-remote' => true
    = loading_action_image("note_#{note.id}", true)
    
    = link_to trash_image, project_page_note_path(note.project, note.page, note),
        :'data-remote' => true, :'data-method' => 'delete', :'data-confirm' => t('.delete_confirm')
    = loading_action_image("delete_note_#{note.id}", true)
%p.actions.handle{ :style => "display: none;" }
  %span
    = drag_widget_handle(note)