%div
  =calendar_nav(@current_project,@year,@month)
  .calendar#calendar
    = build_calendar(@year,@month)
  .weektable
    = build_weektable(@year, @month)
  = hours_js(@year,@month,@comments)

-content_for :column do
  %h2= "Report"
  %select#report_list
    =list_hour_reports
  =observe_hour_reports
  %h2= "Filter By"
  #user_filter
    =list_hour_filters(@current_project)
  =observe_hour_filter
 
= new_hour_comment_form(@current_project, Comment.new)
= list_comments(@comments,@current_project)