%p=raw "A task tracks tasks which need to be completed in a #{link_to_doc_model(:task_list)}, contained in a #{link_to_doc_model(:project)}."

- doc_for :index,
          :parameters => {:status => "0...4|[0,1,2,3,4]"},
          :example => example_api_wrap([@task], :references => true) do
  %p=raw "Returns the most recent tasks in the #{link_to_doc_model(:task_list)}, #{link_to_doc_model(:project)}, or projects you belong to."
  %p=raw "Use the optional <tt>status</tt> parameter to filter tasks by their status id. For example, to only view new or open tasks, you would query <code>?status[]=0&status[]=1</code>."
  %p=raw "You can also use the optional <tt>assigned_id</tt> parameter to filter tasks by their assigned #{link_to_doc_model(:person)}."
  %p=raw "Similarly, the optional <tt>user_id</tt> parameter to filters tasks by the #{link_to_doc_model(:user)} who created them. "

- doc_for :show,
          :example => example_api_wrap(@task, :references => true),
          :includes => [:comments, :user, :assigned] do
  %p=raw "Returns the data for a task."

- doc_for :create,
          :parameters => {:name => 'Task', :due_on => '2010-01-01', :project_id => 123, :assigned_id => "<person id>", :status => "0...4|[0,1,2,3,4]", :task_list_id => 456},
          :example => @task.to_api_hash,
          :status => :created,
          :role => :participant do
  %p=raw "Creates a new task."

- doc_for :update,
          :example => example_api_wrap(@task, :references => true, :include => [:user, :uploads, :google_docs]),
          :includes => [:comments, :user, :assigned],
          :parameters => {:name => @task.name, :due_on => "2010-01-02", :assigned_id => "<person id>", :status => "0...4|[0,1,2,3,4]" },
          :optional_parameters => {:comments_attributes => { 0 => { :body => 'modified....', :uploads_attributes => { 0 => { :asset => "Your binary data goes here" } }, :google_docs_attributes => { 0 => { :title => 'Some google doc', :document_id => 'x123456789', :document_type => 'document', :url => 'http://google.com/docs/x1234567', :edit_url => 'http://google.com/docs/x1234567/edit', :acl_url => 'http://google.com/docs/x1234567/acl' } } } } },
          :status => :updated,
          :role => :participant do
  %p=raw "Updates the name, due date, assigned #{link_to_doc_model(:person)}, and status of a task."

- doc_for :reorder,
          :status => :updated,
          :parameters => { :task_ids => "1,2,3", :task_list_id => 8 },
          :role => :participant do
  %p=raw "Moves the task <tt>id</tt> to the task list identified by <tt>task_list_id</tt> and reorders its tasks according to the order each task id is presented in <tt>task_ids</tt>."

- doc_for :watch,
          :status => :updated,
          :role => :participant do
  %p=raw "Adds the current user to the watchers list of the task."

- doc_for :unwatch,
          :status => :updated,
          :role => :participant do
  %p=raw "Removes the current user from the watchers list of the task."

- doc_for :destroy,
          :status => :deleted,
          :role => :participant do
  %p=raw "Destroys a task."

