.google_docs_attachment
  = link_to '', google_docs_path, :rel => 'facebox', :class => 'google_docs_icon hoverable', :title => "Attach Google Docs"

  .google_docs_attachment_form_area{:'data-object-name' => f.object_name}
    .fields
      = f.fields_for :google_docs do |fields|
        = fields.hidden_field :title
        = fields.hidden_field :document_type
        = fields.hidden_field :url
        = fields.hidden_field :edit_url
        = fields.hidden_field :acl_url

    %ul.file_list
