.upload[google_doc]{ :class => ['file_upload', cycle('alternate', '')] }
  .header
    .icon
      = google_docs_image google_doc.document_type
    .file
      = link_to google_doc.title, project_google_doc_path(:project_id => google_doc.project, :id => google_doc), :target => :blank
    .size
    .author
    .more
      [+]

  .reference{ :style => 'display: none' }
    = link_to t('.view'), project_google_doc_path(:project_id => google_doc.project, :id => google_doc), :target => :blank
    -# TODO: If user can lock it..
    = link_to t('.lock'), 'TODO: now implemented' 
    = link_to t('.embed'), 'TODO: not implemented'
