- cache "#{@current_user.language}_#{@current_user.time_zone.gsub(/\W/,'')}_comment_#{comment.id}" do
  .comment{:id => "comment_#{comment.id}", :immutable_at => datetime_ms(comment.created_at + 15.minutes) }
    .info
      = thumb_avatar(comment.user)
    .block
      .actions_menu
        %span.actiondate= posted_date comment.created_at
        %span.loading{:style => 'display:none'}= "Loading..."
        - if comment.can_edit?(current_user)
          = image_tag('triangle.png', :class => 'triangle')
          .extra
            - if comment.target.class == Project
              = convert_comment_link(comment)
            - if comment.can_edit?(current_user)
              = edit_comment_link(comment)
            - if comment.can_destroy?(current_user)
              = delete_comment_link(comment)
      .name
        = conversation_last_comment_text(comment)
        = activity_comment_user_link(comment)
        = activity_project_link(comment.project)
        = activity_comment_target_link(comment)
        = comment_task_status(comment) if comment.target_type == 'Task'
        - if !comment.hours.nil? and comment.hours > 0
          %span.hours
            = t('.hours_hrs', :hours => friendly_hours_value(comment.hours))
      .body.textilized
        ~ comment.body_html
      - if comment.uploads.any?
        - if comment.uploads.all? { |upload| upload.image? }
          .upload_images
            = list_uploads_inline_with_thumbnails(comment.uploads)
        - else
          .upload_list
            = list_uploads_inline(comment.uploads)
    .clear