.comment{:id => "comment_#{comment.id}" }
  .info
    %p.actions{ :style => 'display: none' }
      %span
        = edit_comment_link(comment)
        = delete_comment_link(comment)
        
    =thumb_avatar(comment.user)
    - unless comment.hours.nil?
      .hours
        =hour_image
        %span
          =comment.hours
          hr
  .block
    .date
      = posted_date comment.created_at
    .name
      = link_to comment.user.name, user_path(comment.user)
    .body
      = comment.body_html
    - if comment.uploads.count > 0
      .upload_list
        = list_uploads_inline(comment.uploads)
        %br
  .clear