- threaded = false unless local_assigns[:threaded]
- simpleconv = false unless local_assigns[:simpleconv]

- cache_editable_comment(comment, threaded, simpleconv) do
  %div[comment]{ :'data-editable-before' => datetime_ms(15.minutes.since(comment.created_at)) }
    .info
      - if threaded
        = micro_avatar(comment.user)
      - else
        = thumb_avatar(comment.user)
    .block
      - unless rss?
        .actions_menu
          %span.actiondate= posted_date comment.created_at
          = image_tag('triangle.png', :class => 'triangle')
          .extra
            - case comment.target
            - when Conversation
              = link_to t('comments.actions.conversation_url'), project_conversation_path(comment.project, comment.target)
            - if can?(:update, comment)
              = link_to t('comments.actions.edit'), [:edit, comment.project, comment.target, comment],
                  :rel => 'facebox', :'data-uneditable-message' => t('.cannot_edit')
            - else
              %span= t('.cannot_edit')
            - if can?(:destroy, comment)
              = link_to t('common.delete'), [comment.project, comment.target, comment], :'data-method' => 'delete',
                  :'data-confirm' => t('.confirm_delete'), :'data-remote' => true
      .body.textilized

        -# In order to make the display more compact, we're adding
        -# the username, task status and hours inline
        - insert_inline  = link_to(comment.user.name, comment.user, :class => :user) + " "
        - if comment.task_comment?
          - insert_inline += comment_task_status(comment)
          - insert_inline += " "
        - if comment.hours?
          - insert_inline += content_tag(:span, friendly_hours_value(comment.hours), :class => :hours)
          - insert_inline += " "
        - if String(comment.body_html).starts_with? "<p>"
          ~ ("----> #{comment.body_html}").gsub /----> <p>/, "<p>#{insert_inline} "
        - else
          ~ "<p>#{insert_inline}</p> #{comment.body_html}"

      - if comment.uploads.any?
        - if comment.uploads.all? { |upload| upload.image? }
          .upload_images
            = list_uploads_inline_with_thumbnails(comment.uploads)
        - else
          .upload_list
            = list_uploads_inline(comment.uploads)
    .clear