.activity
  = thumb_avatar(comment.user)
  .container
    .date= posted_date comment.created_at
    = activity_title(comment, true, true)
    - comment_task_status(comment) if comment.task_comment?
    = activity_project_link(comment.project) unless comment.target.class == Project
    ~raw comment.body_html

    - if comment.uploads.any?
      - if comment.uploads.all? { |upload| upload.image? }
        .upload_images
          = list_uploads_inline_with_thumbnails(comment.uploads)
      - else
        .upload_list
          = list_uploads_inline(comment.uploads)
  .clear