- threaded = false unless local_assigns[:threaded]
- simpleconv = false unless local_assigns[:simpleconv]

- cache_editable_comment(comment, threaded, simpleconv) do
  %div[comment]{ :'data-editable-before' => datetime_ms(15.minutes.since(comment.created_at)) }
    .info
      - if threaded
        = micro_avatar(comment.user)
      - else
        = thumb_avatar(comment.user)
    .block
      - unless rss?
        .actions_menu
          %span.actiondate= posted_date comment.created_at
          - if can?(:update, comment) or can?(:destroy, comment)
            = image_tag('triangle.png', :class => 'triangle')
            .extra
              - if can?(:update, comment)
                = link_to t('comments.actions.edit'), [:edit, comment.project, comment.target, comment],
                    :rel => 'facebox', :'data-uneditable-message' => t('.cannot_edit')
              - else
                %span= t('.cannot_edit')
              - if can?(:destroy, comment)
                = link_to t('common.delete'), [comment.project, comment.target, comment], :'data-method' => 'delete',
                    :'data-confirm' => t('.confirm_delete'), :'data-remote' => true
      .name
        - if threaded || simpleconv
          = link_to(comment.user.name, comment.user)
        - else
          = activity_title(comment)
        - if comment.task_comment?
          - comment_task_status(comment)
        - if comment.hours?
          %span.hours= friendly_hours_value(comment.hours)
        = activity_project_link(comment.project) unless threaded || comment.target.is_a?(Project)
      .body.textilized
        ~ comment.body_html
      - if comment.uploads.any?
        - if comment.uploads.all? { |upload| upload.image? }
          .upload_images
            = list_uploads_inline_with_thumbnails(comment.uploads)
        - else
          .upload_list
            = list_uploads_inline(comment.uploads)
    .clear