- convert_comment_form_for(comment) do |f|
  .name.text_field
    = f.label :name, t('.name')
    = text_field_tag 'task[name]', (@task.nil? ? @comment.body.split('\n').first : @task.name), :autofocus => true
  .text_field
    = label_tag :task_list, t('.destination')
    = select_tag 'task_list_id', options_for_select(options_for_task_lists(@current_project.task_lists.unarchived))
  .submit{:id => "comment_#{comment.id}_submit"}
    = f.submit "Convert"
    = t 'common.or'
    = cancel_convert_comment_link(comment)
  .clear
  = loading_image(js_id(:loading,comment))
  = #loading('comment_form', comment.id)