- edit_comment_form_for(comment) do |f|
  = comment_fields(f,comment,true)
  .submit{:id => "comment_#{comment.id}_submit"}
    = f.submit t('.submit')
    = t 'common.or'
    = cancel_edit_comment_link(comment)
  .clear	
  = loading_image(js_id(:loading,comment))
  = #loading('comment_form', comment.id)