- remote_form_for form_url, :id => 'new_comment_form' do |f|
  = hidden_field_tag :original_controller, controller_name
  .body.text_area
    = f.text_area :body, :class => 'comment_body'
  .extra
    - if comment.project
      = the_comment_upload_link(comment)
      = upload_area(comment)
    - if target
      - if target.is_a?(Task)
        .statuses
          = f.label :status
          - if target.status_new?
            .status.new 
              = f.radio_button :status, Task::STATUSES[:new]
              = t('tasks.status.new')
          .status.open
            = f.radio_button :status, Task::STATUSES[:open]
            = t('tasks.status.open')
            - f.fields_for :target, target do |task_form|
              = task_form.label :assigned_id, t('.assigned_to')
              = task_form.select :assigned_id, options_for_people(comment.project.people)
          .status.hold
            = f.radio_button :status, Task::STATUSES[:hold]
            = t('tasks.status.hold')
          .status.resolved
            = f.radio_button :status, Task::STATUSES[:resolved]
            = t('tasks.status.resolved')
          .status.rejected
            = f.radio_button :status, Task::STATUSES[:rejected]
            = t('tasks.status.rejected')
          = javascript_tag "$$('.statuses input').each(function(e){ if (e.checked) { e.up('.status').addClassName('active') }; })"
          = javascript_tag "Comment.watch_status();"
    .submit
      = f.submit t('.submit')
    .clear  

= javascript_tag "$('new_comment').auto_focus()"