- show_hours ||= true
- remote_form_for form_url do |f|
  = hidden_field_tag :original_controller, controller_name
  .body.text_area
    = text_area_tag 'comment[body]', message, :class => 'comment_body'
  .extra
    = the_comment_upload_link(comment) unless comment.project.nil?
    = comment_area(comment)
    -unless target.nil?
      -if target.class.to_s == 'Task'
        = select_tag 'comment[status]', options_for_select(Task::STATUSES)
    .submit
      = f.submit t('.submit')
  .clear
=javascript_tag "$$('#new_comment .extra')[0].hide()"