- if @current_project.admin?(current_user)
  %h2= t('invitations.search.invite_from_project')
  .text_field
    = select_tag "pid", options_for_select([['---', 0]] + options_for_projects(current_user.projects)), person_project_select_options(@current_project)
    = loading_image("people_project_load")
  #sidebar_people

- else
  %h2= t('.inviting')
  %p= t('.only_admins_can_invite') 
  %p= t('.contact_admins', :admins => @admins.collect { |p| link_to p.user, p.user }.to_sentence, :count => @admins.size)

  %h2= t('.leaving')
  %p= t('.you_can_leave')
  %p= leave_project_link(@current_project, @people.select { |p| p.user == current_user }.first)