.roles
  .role.observer
    = f.radio_button :role, Person::ROLES[:observer]
    = t('.observer')
  .role.commenter
    = f.radio_button :role, Person::ROLES[:commenter]
    = t('.commenter')
  .role.participant
    = f.radio_button :role, Person::ROLES[:participant]
    = t('.participant')
  .role.admin
    = f.radio_button :role, Person::ROLES[:admin]
    = t('.admin')
        
- if false #Details Permissions
  - f.fields_for :permissions, person.permissions do |sf|
    .task_permissions
      = sf.label :task
      .task_permission.view
        = sf.radio_button :task, 1
        view              
      .task_permission.edit
        = sf.radio_button :task, 2
        edit              
      .task_permission.destroy
        = sf.radio_button :task, 3
        destroy              
      .task_permission.all
        = sf.radio_button :task, 4
        all    