.person_header{ :id => "#{person_id(:edit_header,project,person)}" }
  .name
    %h2
      = user_link(person.user)
      = "@#{person.user.login}"
    %p  
      %strong
        = person_role(project,person)
