.person_header
  .name
    %h2== #{user_link(person.user)} @#{person.user.login}
    %p
      %strong= t ".#{person.role_name}"
    %p
      - if person.user.updated_at > 1.month.ago
        = time_ago_in_words(person.user.updated_at)
      - else
        = t('.not_logged_in_recently')
  - if request.format != :m and can?(:update, person)
    .actions
      = link_to t('people.link.edit'), '#edit'
      = link_to t('people.header.remove'), project_person_path(project, person, :anchor => 'destroy'),
        'data-confirm' => t('people.header.confirm_delete'), 'data-method' => 'delete', 'data-remote' => true
