.person{:id => "person_#{person.id}"}
  .actions
    %span= link_to 'Remove from project', destroy_project_person_path(@current_project,person)
  = thumb_avatar(person)
  .name= person.name
  .login
    = person.login + ','
    = mail_to person.email, person.email
  .address
    = t('.formatted_address', :street => 'C/ Llacuna 162-164', :city => 'Barcelona', :country => 'Spain')
  .phone
    +34 661 939 945