.results
  - if @comments
    %p= t('.report', :count => @comments.total_entries, :term => @search)

  - form_tag search_path do
    = text_field_tag :search, params[:search]
    = submit_tag(@comments ? t('.search_again') : t('search.submit'))

- if @comments
  #results_set
    = render @comments
  = will_paginate @comments, :params => {:search => @search}
  = javascript_tag("Element.addHighlights($('results_set'), #{@search.split.to_json}, 'highlight')")