.results
  - if @comments
    %p= "#{@comments.total_entries} results found for \"#{@search}\""

  - form_tag search_path do
    = text_field_tag :search, params[:search]
    = submit_tag (@comments ? "Search again" : "Search")

- if @comments
  #results_set
    = render :partial => 'comments/comment', :collection => @comments
  = will_paginate @comments, :params => {:search => @search}
  = javascript_tag("Element.addHighlights($('results_set'), #{@search.split.to_json}, 'highlight')")