- if f.object.new_record?
  %h3= t('.title')
  %p= t('.task')

.name.text_field
  = f.label :name, t('.name')
  = f.text_field :name, :autofocus => %w[new edit].include?(action_name) || nil
  
- if f.object.new_record?
  %p.optional= t('.optional')
  
  - f.object.comments.build
  - f.fields_for :comments do |comment_fields|
    .body.text_field
      = comment_fields.label :body, t('.body')
      = comment_fields.text_area :body, :rows => 3

  .assigned_to.text_field
    = f.label :assigned_id, t('comments.new.assigned_to')
    = f.select :assigned_id, people_from_project_for_select(project)

  .pick_date
    = f.label :due_on, t('.due_on')
    = date_picker(f, :due_on)