- shown = %w[new edit].include?(action_name)
- task_action = task.new_record?? :new : :edit
- i18n_scope = [:tasks, task_action]

= form_for [project, task_list, task], :format => :js, :html => { :class => "app_form #{task_action}_task", :multipart => true, :style => shown ? nil : 'display:none', :'data-remote' => !shown || nil, :'data-project-id' => project.id, :'data-mine' => (task.open? and task.assigned_to?(current_user)) } do |form|
  = render 'tasks/fields', :f => form, :project => project
  .submit
    - unless shown
      = link_to t('common.cancel'), '#cancel'
    = #preview_button
    = form.submit t(:submit, :scope => i18n_scope), :'data-disable-with' => t(:sending, :scope => i18n_scope)
