- remote_form_for [project,task_list,task], :html => { :id => "project_#{project.id}_task_list_#{task_list.id}_new_task", :class => 'task_form_wrap', :style => 'display: none' } do |f|
  .form_task
    = task_fields(f)
    .submit
      = f.submit t('.submit')
      or
      = link_to_function t('.cancel'), hide_new_task(project,task_list)