#task_overview_box
  %h2= t(".title")
  %p
    %strong= "#{t('.status')}:"
    = task_status(@task,:column)
  - if @task.due_on
    %p
      %strong= "#{t('tasks.due_on.due_on')}:"
      = render_due_on(@task,current_user)
  %p= render_assignment(@task,current_user)