#show_task
  = task_header(project,task_list,task)
  -unless task.closed? || task.observer?(current_user)
    = task_form(project,task_list,task)
    = people_watching(project,current_user,task) unless task.archived
    = new_comment_form(project,comment, :target => task)
  =task_archive_box(project,task_list,task)
  #comments
    = list_comments(task.comments,task)