#show_task
  = task_header(project,task_list,task)
  = task_form(project,task_list,task) unless task.closed?
  = people_watching(project,current_user,task) unless task.archived
  = new_comment_form(project,comment, :target => task)
  =task_archive_box(project,task_list,task) unless task.closed?
  #comments
    = list_comments(task.comments,task)