- task_list = task.task_list
- project = task.task_list.project
.task{ :id => task_id(:task,project,task), :class => task_classes(task)}
  .inner
    .taskStatus	
      - if editable
        %div{:style => 'height:0px;'}
          = task_drag_link(task)
      = task_status(task,:content)
    .taskName{ :class => "task_item_#{task.status_name}"}
      %span.status
        = localized_status_name(task)
      %span.project
        = link_to task.project, project_path(task.project)
        &rarr;
      %span.task_list
        = link_to task.task_list, project_task_list_path(task.project, task.task_list)
        &rarr;
      = link_to task.name, project_task_list_task_path(project,task_list,task), :class => 'name'
      - unless (task.due_on.nil? && task.unassigned?) || task.closed?
        %span.assigned
          = due_on(task) if task.due_on
          = "-" unless task.assigned.nil? || task.due_on.nil?
          = link_to task.assigned.short_name, user_path(task.assigned.user) if task.assigned
    .clear