- task_list ||= task.task_list
- project ||= task.task_list.project
.task{ :class => task_classes(task) }
  .inner
    .taskStatus
      = task_status(task,:content)
    .taskName
      %span.status= localized_status_name(task)
      = link_to h(task), project_task_path(project, task), :class => :name
      - unless (task.due_on.nil? && task.unassigned?) || task.closed?
        %span.assigned
          = due_on(task) if task.due_on
          = "-" unless task.assigned.nil? || task.due_on.nil?
          = link_to h(task.assigned.short_name), user_path(task.assigned.user) if task.assigned
    .clear
