-# this code supports the "tasks_for_all_projects" template
- project ||= task.project
- task_list ||= task.task_list

%div[task]{ :class => task_classes(task), :'data-task-id' => task.id, :'data-creator-user-id' => task.try(:user_id), :'data-watcher-ids' => (task.try(:watcher_ids)||[]).join(','), 'data-assigned-id' => task.try(:assigned_id) }
  .taskStatus
    = image_tag('drag.png', :class => 'task_drag') if editable and !task.archived?
    = task_status(task, :content)
  .taskName
    .expanded_actions{ :style => 'display: none' }
      %a.full{ :href => project_task_path(project, task) } Full view
      %a.hide{ :href => '#' } Hide comments
    .lock_icon
    = link_to h(task), [project, task], :class => :name
    %span.assigned_date= task.due_on ? due_on(task) : ''
    - if task.urgent?
      %span.urgent= t("tasks.urgent.caption")
    %span.assigned_user= task.assigned ? link_to(h(task.assigned.short_name), user_path(task.assigned.user)) : ''
    - unless @current_project
      .extended
        %span.project
          = link_to h(project), project
          &rarr;
        %span.task_list
          = link_to h(task_list), project_task_lists_path(project)+"#project_#{project.id}_task_list_#{task.task_list_id}"
  .clear
