#show_task
  = render 'header', :project => @current_project, :task_list => @task_list, :task => @task
  = people_watching(@current_project,@current_user,@task)

#page
  #activities= list_comments(@task.comments,@task)

- if can? :comment, @task
  = form_for [@current_project, @task, @task.comments.build], :html => {:id => nil, 'data-project-id' => @current_project.id} do |form|
    = render 'comments/fields', :f => form, :placeholder => t("comments.new.task")
