= task_list_column(@current_project, @task_lists, @task)

.task_header  
  = task_action_links(@current_project, @task_lists, @task)
  %h2= t('.task_title', :name => @task.name)
  = people_watching @task
  
= new_comment_form(@current_project, :target => @task)

#comments
  = list_comments(@comments, @task)