#show_task
  = task_header(@current_project,@task_list,@task)
  = task_form(@current_project,@task_list,@task) unless @task.closed?
  = people_watching(@current_project,@current_user,@task)
  = new_comment_form(@current_project,@comment, :target => @task) unless @task.closed?
  = #task_archive_box(@current_project,@task_list,@task)

#page
  #activities
    = list_comments(@task.comments,@task)