- if @data.status_name == :uploading
  %h3= t('.service')
  .service
    = f.radio_button :service, 'teambox'
    = f.label :service_teambox, 'Teambox'
  .service
    = f.radio_button :service, 'basecamp'
    = f.label :service_basecamp, 'Basecamp'
  
  .many_fields
    = f.label :processed_data, t('.select_file')
    = f.file_field :processed_data, :size => 20
    .clear
- elsif @data.status_name == :mapping
  %p= t('.please_supply_user_map')
  %table#map_users
    %tr
      %th= t('.user')
      %th= t('.teambox_user')
      %th
    = map_table_for_data(@data)
  .target_project.many_fields
    %label{:for => 'teambox_data_organization_id'}= t('.in_organization')
    = select_tag "teambox_data[organization_id]", options_for_select(options_for_organization, @data.organization_id)
    = errors_for @data, "organization_id"
