- content_for :column do
  = render 'shared/user_navigation'

%h2= t('.title')

- if @data.need_data?
  = form_for @data, :html => {:multipart => true} do |f|
    = fields_for_teambox_import(f, @data)
    .submit
      = f.submit t('.submit')
      = t('common.or')
      %a{:href => teambox_data_path(@data), :class => 'cancel', 'data-method' => 'delete'}= t('common.cancel')
- elsif @data.processed_at
  %p= t('teambox_datas.data.processed_at', :processed_at => @data.processed_at)
  %p= t('.projects')
  %ul
    - @data.projects.each do |project|
      %li= link_to h(project.name), project_path(project)
- elsif @data.processing?
  %p= t('teambox_datas.data.processing')
  %a{:href => teambox_data_path(@data), :class => 'cancel', 'data-method' => 'delete'}= t('common.cancel')
- else
  %p= t('.import_error')	
  %a{:href => teambox_data_path(@data), :class => 'cancel', 'data-method' => 'delete'}= t('common.cancel')
