.text_field.name
  = f.label :name, t('.name')
  = f.text_field :name
  = errors_for conversation, :name

- if conversation.new_record?
  = tooltip 'user_description', t('.name')
  .text_area.body
    = f.label :body, t('.body')
    = f.text_area :body, :id => :conversation_body
    = errors_for conversation, :body
    = tooltip 'user_body', t('.body')
