.text_field.name
  = f.label :name, t('.name')
  = f.text_field :name
  = errors_for f.object, :name

- if f.object.new_record?
  - f.object.comments.build
  = f.fields_for :comments do |fields|
    .field.text_area
      = fields.text_area :body, :placeholder => t('comments.new.conversation')
