.conversation_header

  - if can? :update, conversation
    .text_actions
      = link_to t('common.edit'), [:edit, project, conversation]
      
      - if can? :destroy, conversation
        = t('common.or')
        = link_to t('common.delete'), [project, conversation],
          :'data-method' => 'delete', :'data-confirm' => t('conversations.actions.confirm_delete'),
          :class => 'delete_conversation_link'
  
  %h2=h conversation.name

- if can? :update, conversation
  = form_for [project, conversation], :html => { :'data-remote' => true, :style => 'display: none', :class => 'edit_conversation app_form' } do |f|
    = render 'fields', :f => f, :project => @current_project
    .submit
      = f.submit t('conversations.edit.submit')
      = t('common.or')
      = link_to t('common.cancel'), '#cancel'
