#primer
  %p= t('.empty') if location_name?('index_conversations')
  %div{ :class => "#{ 'box' if location_name?('index_conversations')}"} 
    - if can?(:converse, project) && location_name?('index_conversations')
      %h2= link_to t('.create_first'), new_project_conversation_path(project)
    %p= t('.define_html')
    %ul
      %li= t('.item1_html')
      %li= t('.item2_html')
      %li= t('.item3_html')
      %li= t('.item4_html')
    %p= t('.footer1_html')
    %p= t('.footer2_html')