#primer
  %p= t('.empty') if location_name?('index_conversations')
  %div{ :class => "#{ 'box' if location_name?('index_conversations')}"} 
    -if project.editable?(current_user) && location_name?('index_conversations')
      %h2= link_to t('.create_first'), new_project_conversation_path(project)
    %p= t('.define')
    %ul
      %li= t('.item1')
      %li= t('.item2')
      %li= t('.item3')
      %li= t('.item4')
    %p= t('.footer1')
    %p= t('.footer2')