.conversation
  %h2= conversation_link(@current_project,short_conversation)
  = conversation_comment(short_conversation)
  .footer
    Started by
    = user_link(short_conversation.user)
    = "3 days ago."
    = conversation_comments_link(@current_project,short_conversation) + ','
    last posted
    = "4 hours ago. "