- if comment = conversation.comments.first(:order => 'id asc')
  .conversation
    .comment
      .info= thumb_avatar(comment.user)
      .block
        .body
          %h2.title
            = link_to h(conversation), [@current_project, conversation]
            %span= t('common.comment', :count => conversation.comments_count)
          .textilized
            ~raw comment.body_html
        - if comment.uploads.any?
          - if comment.uploads.all? { |upload| upload.image? }
            .upload_images
              = list_uploads_inline_with_thumbnails(comment.uploads)
          - else
            .upload_list
              = list_uploads_inline(comment.uploads)
        %p.go_to_thread
          = link_to t('conversations.index.view_single'), [@current_project, conversation]
      .clear
