.watchers
  - if project.public
    %p= t('.cant_notify')
  - else
    - if project.users.size > 1
      %h3= t('.add_suscribers')

      .user_all
        %label
          = check_box_tag :user_all, "1", true, :name => nil
          = t('conversations.watcher_fields.people_all')
        
      - for user in project.users
        - unless user == current_user
          .user
            %label
              = check_box_tag 'conversation[watchers_ids][]', user.id, true, :id => nil
              =h user.name
          
      .clear
      %p= t('.subscribe_note_html')
    - else
      %h3= t('.invite_users')
      .clear
      %p= t('.no_users_yet_html', :invite_link => project_people_path(project))
