.watchers
  - if project.public
    %p= t('.cant_notify')
  - else
    - if project.users.size > 1
      %h3= t('.add_suscribers')
      .user_all
        = all_users_checkbox
      - for user in project.users
        - unless user == current_user
          .user
            = user_checkbox(user)
      .clear
      %p= t('.subscribe_note')
    - else
      %h3= t('.invite_users')
      .clear
      %p= t('.no_users_yet', :invite_link => project_people_path(project))
