- content_for :column do
  = conversations_primer(@current_project)

%h2.grande= t('.title')

- form_for [@current_project,@conversation] do |f|
  = conversation_fields(f,@current_project,@conversation)
  = conversation_watcher_fields(@current_project,@conversation)
  .submit
    = f.submit t('.submit')
