- content_for :column do
  = conversations_primer(@current_project)
  = instructions_for_email(@current_project)

%h2= t('.title')

= form_for [@current_project, @conversation], :html => { 'data-project-id' => @current_project.id, :multipart => true } do |f|
  = render 'fields', :f => f, :project => @current_project
  = render 'watcher_fields', :f => f, :project => @current_project
  .submit
    %span.help= formatting_documentation_link
    = preview_button
    = f.submit t('.submit')
