= conversation_column(@current_project,@conversations,@current_conversation)

.conversation_header
  .actions
    %span.comments
      = conversation_comments_count(@current_conversation)
    %span.edit
      = edit_conversation_link( t('.edit'), @current_project,@current_conversation)
  %h2= @current_conversation.name


#comments
  = list_comments(@comments)
  
= new_comment_form(@current_project,@current_conversation)
  