= conversation_column(@current_project, @conversations, :conversation => @conversation)
= conversation_header(@current_project,@conversation)
= conversation_form(@current_project,@conversation)
= people_watching(@current_project,current_user,@conversation)
= new_comment_form(@current_project,@current_project.comments.new,:target => @conversation)
= list_comments(@comments, @conversation)