.text_field
  = f.label :name, t('.name')
  = f.text_field :name
.text_area
  = f.label :description, t('.description')
  = f.text_area :description
.permalink.text_field
  = f.label :permalink, t('groups.fields.permalink')
  = f.text_field :permalink
  - tooltip t('groups.fields.permalink_description')
  .preview
    = request.protocol + "<span id='handle'></span>." + request.host
  = watch_permalink_group
  = javascript_tag "Group.valid_url();"
