%input{:name => 'only_logo', :type => 'hidden', :value => '1'}/
.logo_fields
  %h3= t('.current')
  - if group.has_logo?
    %img{:src => group.logo.url(:top), :alt => group.name, :style => "height:24px"}/
    = link_to t('.delete'), logo_group_path(group), :method => :delete
  - else
    %img{:src => "/images/header_logo_black.png", :alt => group.name, :style => "height:24px"}/
  %div
    = f.file_field :logo
  %p{ :style => 'font-size:12px; margin: 15px 0' }= t('.description')
  - if include_button
    %div
      = f.submit t('groups.logo_fields.upload')