%h2
  = t('.title')

#groups_owned
  - if @group
    %p= t('.your_group')
    .group.owned
      = list_groups([@group])

- if @group.nil?
  = groups_primer

#groups
  - if @groups.any?
    %p= t('.groups_in')
    = list_groups(@groups_member)
  - else
    .account
      %p= t('.no_groups')

= render :partial => 'column'
