%h2= t('.title')

#groups_owned
  - if @group
    %p= t('.your_group')
    .group.owned
      = render @group

- if @group.nil?
  = render 'groups/primer'

#groups
  - if @groups.any?
    %p= t('.groups_in')
    = render @groups_member
  - else
    .account
      %p= t('.no_groups')

= render 'column'
