%h2= t('.title')

%p= t('.explain')

- form_for @group do |f|
  = f.error_messages
  = render :partial => 'groups/fields', :locals => { :f => f }
  = group_logo_fields(@group, f)
  .submit
    = f.submit t('.submit')

= groups_column