.login.text_field
  = f.label :login, t('.login')
  = f.text_field :login
.name.text_field
  = f.label :name, t('.name')
  = f.text_field :name
.email.text_field
  = f.label :email, t('.email')
  = f.text_field :email
- unless user.new_record?
  #change_password_link
    = link_to_function t('.change_password'), show_user_password_fields
#password_fields{:style => (user.new_record? ? "" : "display: none;")}
  .password.text_field
    = f.label :password
    = f.password_field :password
  .password.text_field
    = f.label :password_confirmation, 'Confirm Password'
    = f.password_field :password_confirmation
- unless user.new_record?
  .time_zone.text_field
    = f.label :time_zone, t('.time_zone')
    = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)"
  .language.select
    = f.label :language, t('.language')
    = f.select :language, [['English', 'en']]
  .first_day_of_week.select
    = f.label :first_day_of_week, t('.first_day_of_week')
    = f.select :first_day_of_week, [[t('.sunday'), 'sunday'],[t('.monday'), 'monday']]