- f = form
- user = form.object
- sub_action = @sub_action

- if user.new_record? or sub_action != nil
  - if user.new_record? or sub_action == 'settings'
    .login.text_field
      = f.label :login, t('.login')
      = errors_for user, :login
      = f.text_field :login
      = tooltip 'user_login', t('.tooltips.login')
  - if user.new_record? or sub_action == 'profile'
    .first_name.text_field
      = f.label :first_name, t('.first_name')
      = errors_for user, :first_name
      = f.text_field :first_name
      = tooltip 'user_first_name', t('.tooltips.first_name')
    .last_name.text_field
      = f.label :last_name, t('.last_name')
      = errors_for user, :last_name
      = f.text_field :last_name
    = tooltip 'user_last_name', t('.tooltips.last_name')
  - if user.new_record? or sub_action == 'settings'
    .email.text_field
      = f.label :email, t('.email')
      = errors_for user, :email
      = f.text_field :email
      = tooltip 'user_email', t('.tooltips.email')

    - if @invitation
      .use_this_email{ :style => 'margin: 10px; padding: 10px; border: 1px rgb(220,220,150) solid; background-color: rgb(255,255,200)' }
        = t('.use_this_email')

    - if @invitation_token
      = hidden_field_tag 'invitation', @invitation_token
      
- if user.new_record? || sub_action == 'settings'
  #password_fields{ :style => "#{ 'display: none' unless user.new_record? }"}
    .password.text_field
      = f.label :password, t('.password')
      = errors_for user, :password
      = f.password_field :password
      - unless sub_action == 'settings'
        = password_strength :password_strength, 'user_password'
        = tooltip 'user_password', t('.tooltips.password')
    .password.text_field
      = f.label :password_confirmation, t('.confirm_password')
      = errors_for user, :password_confirmation
      = f.password_field :password_confirmation

- unless user.new_record?
  - if sub_action == 'settings'
    #change_password_link
      = link_to_function t('.change_password'), show_user_password_fields
      
    .first_day_of_week.select
      = f.label :first_day_of_week, t('.first_day_of_week')
      = f.select :first_day_of_week, [[t('.sunday'), 'sunday'],[t('.monday'), 'monday']]
    
- if user.new_record? || sub_action == 'settings'
  .language.select
    = f.label :language, t('.language')
    = f.select :language, User::LANGUAGES
    
  .time_zone.text_field
    = f.label :time_zone, t('.time_zone')
    = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)"    

- if sub_action == 'profile'
  .description.text_area
    = f.label :biography, t('.biography')
    = f.text_area :biography

  = list_card_fields(f,%w(phone_numbers email_addresses websites addresses ims social_networks))

- if @sub_action == 'picture'
  %p= t('.avatar.we_have_this_avatar')
  %p
    = image_tag current_user.avatar_or_gravatar_url(:profile)
    = image_tag current_user.avatar_or_gravatar_url(:thumb)
    = image_tag current_user.avatar_or_gravatar_url(:micro)
  %p= t('.avatar.upload_here_or_at_gravatar')
  = f.label :avatar, t('.avatar.field')
  = f.file_field :avatar
  - unless current_user.avatar.errors.empty?
    %p
      - if current_user.avatar.errors.has_key?(:presence)
        %span=t('.avatar.presence')
      - if current_user.avatar.errors.has_key?(:size)
        %span=t('.avatar.max_size',:mb => current_user.avatar.errors[:size][:max])

- if @sub_action == 'notifications'
  .check_boxes.notifications
    .check_box.notify
      = f.check_box :notify_mentions
      = f.label :notify_mentions, t('.notify_mentions', :login => current_user.login)
    .check_box.notify
      = f.check_box :notify_conversations
      = f.label :notify_conversations, t('.notify_conversations')
    .check_box.notify  
      = f.check_box :notify_task_lists
      = f.label :notify_task_lists, t('.notify_task_lists')
    .check_box.notify
      = f.check_box :notify_tasks
      = f.label :notify_tasks, t('.notify_tasks')
    .check_box.notify
      = f.check_box :wants_task_reminder
      = f.label :wants_task_reminder, t('.wants_task_reminder')
    

= hidden_field_tag 'sub_action', sub_action