.profile_completeness
  %h2= t('.title')
  .description
    = t('.complete_your_profile')
    
  .progress_container
    .bar{ :style => "width: #{current_user.profile_percent.to_i}%"}
      = t('.completeness', :percentage => current_user.profile_percent.to_i)
  - if current_user.next_failed_check
    .next_check
      = link_to current_user.next_failed_check[:title], ''
      = t('.to_get_to')
      = "#{current_user.next_percent_complete.to_i}%"