%h2= t('.title')

%p= t('.tasks_can_be_synced')
%p= t('.possible_clients')

%h3= t('.how_to.title')
%p= t('.how_to.body_html', :link => "http://help.teambox.com/knowledgebase/articles/10257-access-teambox-from-more-devices")

%h3= t('.your_calendars')

= subscribe_to_all_calendars_link

- for project in current_user.projects.unarchived
  = subscribe_to_calendar_link(project)

- content_for :column do
  %h2= t('.clients.title')
  %p= t('.clients.body_html', :link => "http://help.teambox.com/knowledgebase/articles/10257-access-teambox-from-more-devices")

  %h2= t('users.feeds.more_tips.title')
  %p= t('users.feeds.more_tips.body_html', :link => "http://help.teambox.com/knowledgebase/articles/10257-access-teambox-from-more-devices")
