%h2= t('.title')

- form_tag reset_password_path do |f|
  .login.text_field
    = label_tag t('.email')
    = text_field_tag 'email', '', :class => 'focus'
  %p
    = link_to t('.back'), login_path
    = submit_tag t('.submit')
