- @user.password = @user.password_confirmation = nil

%h2= t('.title')

- if !@invitation and @user.email and User.find_by_email(@user.email)
  %p{ :style => 'margin: 80px 10px; padding: 10px; border: 1px rgb(220,220,150) solid; background-color: rgb(255,255,200)' }
    = t('.you_already_have_an_account', :email => @user.email, :login_link => login_path, :reset_password_link => forgot_password_path)

- else
  %p= t('.existing_user', :login_url => login_path, :forgot_url => forgot_password_path)

  - form_for @user do |form|
    = render form
    %br
    .submit
      = submit_tag t('.submit'), :tabindex => 300