- if @shares_invited_projects
  #primer
    .box
      %p= t('.pending_invite', :name => h(@user.name))

- if can? :observe, @user
  %h2= t('.recent_activity_for', :user_name => h(@user.name))
  #activities
    = list_threads(@threads)
    = show_more_button

- content_for :column do
  %h2
    %span.login= "@"+@user.login
    = h(@user.name)

  = image_tag avatar_or_gravatar(@user, :profile), :class => 'avatar'

  - if can? :observe, @user
    - unless @user.biography.blank?
      %p.biography=h @user.biography
    = render_card(@card)
  
  - if can?(:observe, @user) && current_user != @user && @projects_shared
    %h3= t('.projects_in_common_with', :user_name => h(@user.name))
    #common_projects
      - @projects_shared.each do |project|
        .project_link= link_to project, project
