- content_for :banner do
  = user_page_name(@user)

- content_for :column do
  = image_tag @user.avatar.url(:profile), :class => 'avatar'
  - if current_user.observable?(@user)
    %p.biography= @user.biography
    = render_card(@card)
    =# list_projects(@user.projects)

- if current_user.observable?(@user)
  =# new_comment_user_form(current_user)
  %h2= t('.recent_activity_for', :user_name => @user.name)
  #activities
    = list_activities(@activities)
