- if @shares_invited_projects
  #primer
    .box
      %p= t('.pending_invite', :name => h(@user.name))

#page
  #people
    .person
      = thumb_avatar(@user)
      .person_header
        .name
          %h2
            = user_link(@user)
            = "@#{@user.login}"
      .clear
      %p.biography=h @user.biography
      = render_card(@card) if @card
  %h2= t('.recent_activity_for', :user_name => h(@user.name))
  #activities
    = list_activities(@activities)
