- content_for :banner do
  %h2= "#{@user.name}<span>(#{@user.login})</span>"

- content_for :column do
  = image_tag @user.avatar.url(:profile)
  - if current_user.can_view?(@user)
    = render_card(@card)
    =# list_projects(@user.projects)

- if current_user.can_view?(@user)
  =# new_comment_user_form(current_user)
  %h2= t('.recent_activity_for', :user_name => @user.name)
  #activities
    = list_activities(@activities)
