- content_for :column do
  .profile
    %h2= t '.profile'
    .vcard
      = link_to 'Download vCard'
    .name= @user.name
    .email= mail_to @user.email, @user.email

  .projects
    %h2= t '.projects'
    .project_list
      .project
        = list_projects(@user.projects)
      
%h2= t('.recent_activity_for', :user_name => @user.name)  
//= list_activities_for_all_projects(@user.activities)
