- content_for :banner do
  = user_page_name(@user)

- if @shares_invited_projects
  #primer
    .box
      %p= t('.pending_invite', :name => @user.name)

- content_for :column do
  = image_tag avatar_or_gravatar(@user, :profile), :class => 'avatar'
  - if current_user.observable?(@user)
    - unless @user.biography.blank?
      %p.biography= @user.biography
    = render_card(@card) if @card
    =# list_projects(@user.projects)
  - if @current_user == @user
    %h3= "Heute bearbeitete Aufgaben"
    %textarea{:rows => 25, :cols => 35}
      - for task in @user.tasks
        = ['*', task.name, "<br />"].join " "
    %h3= "Gestern bearbeitete Aufgaben"
    %textarea{:rows => 25, :cols => 35}
      - for task in @user.tasks(Time.now.midnight-1.day, Time.now.midnight)
        = ['*', task.name, "<br />"].join " "


- if current_user.observable?(@user)
  =# new_comment_user_form(current_user)
  %h2= t('.recent_activity_for', :user_name => @user.name)
  #activities
    = list_activities(@activities)
