<style type="text/css">
  #facebox h1, #facebox h2, #facebox h3, #facebox h4, #facebox ul, #facebox ol { margin: 0; padding: 0; }
  body #facebox , #facebox th, #facebox td, #facebox pre { font-size: 12px; font-family: Helvetica; }
  #facebox pre { font-family: "Monaco", "Courier New", "Terminal", monospace; margin: 0; }
  #facebox th { font-size: 14px; font-weight: bold; padding-bottom: 20px; }
  #facebox td { padding-right: 50px; padding-bottom: 10px; }
  #facebox ul { padding-left: 10px; }
  #facebox ol { padding-left: 0px; }
</style>

<table class="textile_doc" style="width: 550px">
  <tr>
    <th><%=raw t('.enter_this.title') %></th>
    <th><%=raw t('.to_see_this.title_html') %></th>
  </tr>
  <tr>
    <td><pre><%=raw t('.enter_this.bold_text') %></pre></td>
    <td><%=raw t('.to_see_this.bold_text_html') %></td>
  </tr>
  <tr>
    <td><pre><%=raw t('.enter_this.italic_text') %></pre></td>
    <td><%=raw t('.to_see_this.italic_text_html') %></td>
  </tr>
  <tr>
    <td><pre><%=raw t('.enter_this.header') %></pre></td>
    <td>
      <%=raw t('.to_see_this.header_html') %>
    </td>
  </tr>
  <tr>
    <td><pre><%=raw t('.enter_this.smaller_header') %></pre></td>
    <td><%=raw t('.to_see_this.smaller_header_html') %></td>
  </tr>
  <tr>
    <td><pre><%=raw t('.enter_this.link') %></pre></td>
    <td><%=raw t('.to_see_this.link_html') %></td>
  </tr>
  <tr>
    <td><pre><%=raw t('.enter_this.image') %></pre></td>
    <td><%=raw t('.to_see_this.image_html') %></td>
  </tr>
  <tr>
    <td><pre><%=raw t('.enter_this.unordered_list') %></pre></td>
    <td>
      <ul style="padding-left:10px">
        <%=raw t('.to_see_this.unordered_list_html') %>
      </ul>
    </td>
  </tr>
  <tr>
    <td><pre><%=raw t('.enter_this.ordered_list') %></pre></td>
    <td>
      <ol style="padding-left:20px">
        <%=raw t('.to_see_this.ordered_list_html') %>
      </ol>
    </td>
  </tr>
</table>

<p><%=raw t('.block_of_code') %></p>
