%h2 Confirm your email
%p
  = "An email invitation was sent to <i>#{@email}</i>, in order to verify your email address."
%p 
  = "Please <b>open this email and follow the link inside it</b> to activate your account."

%h3 Problems?
%ul
  %li
    = "Lost the email?"
    = link_to "Press here to re-send the activation email", unconfirmed_email_user_path(current_user, :resend => true)
    = "if you can't find it."
  %li
    = "Empty inbox? Make sure the email wasn't classified as spam by your email client."
  %li
    = "Wrong address? If you mistyped your email address, go back and re-create your account with a valid address."
%p
  = "If you're still having problems, please contact "
  = mail_to "support@teambox.com", "support@teambox.com"
