.section.welcome_section
  %h2.welcome= t('.get_started')
  %p= t('.intro1')
  %p= t('.intro2')
    
.section    
  %h2= t('.projects.title')
  %p= t('.projects.share_and_collaborate')
  %p= t('.projects.create_your_first_project', :link => new_project_path)

  - if @pending_projects
    .pending_projects
      = list_pending_invites(@pending_projects)

.section
  %h2= t('.spread.title')
  %p= t('.spread.reasons')
  %p
    = t('.spread.help') 
    = link_to t('.spread.twitter'), 'http://twitter.com/?status=Using+Teambox+to+manage+my+projects,+sign+up+for+free+at+http://www.teambox.com', :target => '_blank'
    = link_to t('.spread.facebook'), 'http://www.facebook.com/share.php?u=http://www.teambox.com', :target => '_blank'
    = t('common.or')
    = t('.spread.in_your_site')
  %p= t('.spread.tell_us', :address => 'love@teambox.com')

- content_for :column do
  = link_to t('.stop_welcome'), close_wecome_tab_path
