.section.welcome_section
  %h2.welcome Get started with Teambox!
  %p
    You're our newest member! You'll soon see how Teambox can become your day's starting point.
  %p 
    Where can you go now? Create a project to <b>collaborate</b> or an agenda to <b>keep track of contacts</b>:
    
.section    
  %h2 Projects
  %p
    Share and collaborate with your team! Group twitter, conversations, tasks, pages and files.
  %p
    An event, a design, a product...
    Go ahead and
    = link_to "create your first project", new_project_path
    now! 

.section
  %h2 Agendas
  %p
    Keep track of your contacts and clients. Remember what was said. Follow-ups. Don't forget a date.
  %p
    = link_to "Create your first Agenda"
    to become a better salesman. Take advantage of every opportunity.

.section
  %h2 Do you love us too?
  %p
    We've been working on Teambox for years, hoping it can be useful for you.
    We're real people, motivated developers with a mission, just like you!
  %p 
    You can <b>help us</b> by telling your friends how you enjoy Teambox on
    = link_to 'Twitter,', 'http://twitter.com/?status=Using+Teambox+to+manage+my+projects,+sign+up+for+free+at+http://www.teambox.com', :target => '_blank'
    = link_to 'Facebook', 'http://www.facebook.com/share.php?u=http://www.teambox.com', :target => '_blank'
    or
    = link_to "in your site!"
  %p
    If you enjoy using Teambox, also consider
    = mail_to 'love@teambox.com', 'telling us about it'
    in an email!

- content_for :column do
  r