#footer
  %ol.support
    %li= support_link
    %li= mobile_link
    %li= help_link
  .copyright
    Project collaboration by
    = link_to 'Teambox', 'http://teambox.com'

%div{ :style => "background-image: url(http://teambox.com/logo.png/#{Teambox.config.app_domain})"}