#quick_add_buttons
  %a{:class=>"quick_add_btn conv", :href=>"#!/conversations/new"}
    %span New conversation
  %a{:class=>"quick_add_btn task", :href=>"#!/tasks/new"}
    %span New task
  =#TODO: [MARKUP] - Add backbone views

#user_utilities.dropdown_navigation
  %h2
    = link_to t('.settings'), account_settings_path
  %a{:class=>"dropdown_arrow", :href=>"#"}
  %ol.global_navigation
    %li#username= link_to t('.my_profile'), user_path(current_user)
    %li= link_to t('.settings'), account_settings_path
    - if current_user.invitations.pending_projects.count > 0
      %li= link_to_unless_current t('.project_invitations', :count => current_user.invitations.count),
        user_invitations_path(:user_id => current_user.id)
    %li= link_to t('.help'), "http://guide.teambox.com##{controller_name}", :target => "_blank"
    %li= link_to t('.logout'), logout_path
