.separator.first
  Overview
.nav_links
  - use_hash_bang_urls do
    .el#welcome_link= link_to t('.welcome'), '#!/welcome', :class => 'welcome backboned'

    -# Recent Activity
    .el#activity_link= link_to t('.recent_activity'), '#!/activities', :class => 'recent_activity backboned'

    -# My Tasks
    .el#today_link= link_to t('.today'), '#!/today', :class => 'today backboned'
    .el#my_tasks_link= link_to t('.my_tasks'), '#!/my_tasks', :class => 'tasks backboned'
    .el#all_tasks_link= link_to t('.all_tasks'), '#!/all_tasks', :class => 'all_tasks backboned'
    .el= link_to t('.calendars'), calendars_path, :class => 'calendar'

    -# All Projects
    - active_projects = current_user.projects.select{|p| !p.archived} #we select them in ruby because the query is done in the header already

    .separator.with_margin Projects
    .search_filter
      %input{ :placeholder => "Filter projects...", :type => 'search' }
    .projects_container

    .separator.with_margin More...
    .el#my_organizations= link_to t('.organizations'), organizations_path, :class => 'organizations'
    .el= link_to t('.time'), time_path, :class => 'time'
    .el#chat_link= link_to "Chat", "#!/chat", :class => 'chat'
    .el#projects_link= link_to t('.show_all_projects'), '#!/projects', :class => 'more'
    - if !Teambox.config.community || (Teambox.config.community && !@community_organization) || (@community_organization && @community_role)
      .el#new_project_link.btn_new_project= link_to t('.new_project'), new_project_path, :class => 'more'
