%ul#projects_tab_list.nav_tab_list
  %li= link_to(t('.all_projects'), projects_path, :class => 'tab_item', :style => 'font-weight: bold; margin: 3px 0 5px')
  - if projects.size > 12 # separate recent projects when there are many
    %li
      %p.div= t('.recent_projects')
      .clear
    - current_user.recent_projects.each do |project|
      %li
        = link_to(truncate(h(project.name), :length => 30), project_path(project), :class => 'tab_item')
        .quicklinks
          = quicklink_conversations(project)
          = quicklink_tasks(project)
          = quicklink_pages(project)
        .clear

  - projects.group_by(&:organization).each do |org,org_projects|
    %li
      %p.div{ :style => 'padding-top: 10px' }= link_to h(org), org
      .clear
    - org_projects.each do |project|
      %li
        = link_to(truncate(h(project.name), :length => 30), project_path(project), :class => 'tab_item')
        .quicklinks
          = quicklink_conversations(project)
          = quicklink_tasks(project)
          = quicklink_pages(project)
        .clear

  - if !Teambox.config.community || (@community_organization && !@community_role.nil?)
    %li= link_to(t('.new_project'), new_project_path, :class => 'tab_item', :style => 'font-weight: bold; margin-top: 5px')
