.name.text_field
  .label
    = f.label :name, t('.name')
    .description= t('.name_description')
  = f.text_field :name

.description.text_area
  .label
    = f.label :description, t('.description')
    .description= t('.description_description')
  = f.text_field :description