%h2= t('.title')

- form_for [@current_project,@page] do |f|
  = page_fields(f)

  .submit
    = f.submit t('.submit')
  
- content_for :column do
  %p= t 'pages.new.define1'
  %p= t 'pages.new.define2'
  %ul
    %li= t 'pages.new.feature1'
    %li= t 'pages.new.feature2'
    %li= t 'pages.new.feature3'
    %li= t 'pages.new.feature4'
  %p= t 'pages.new.footer1'
  %p= t 'pages.new.footer2'
