- content_for :column do
  = create_note_link(@current_project,@page)

#edit_page
  - form_for [@current_project,@page] do |f|
    = page_fields(f)
    
    = f.submit t('.submit')
    
    #notes
      = list_page_notes(@page.notes)
    
    = notes_sortable_tag(@page)