%h2= t('.title')

- form_for [@current_project,@page] do |f|
  = page_fields(f)

  .submit
    = f.submit t('.submit')
  
- content_for :column do
  %p= t '.define1'
  %p= t '.define2'
  %ul
    %li= t '.feature1'
    %li= t '.feature2'
    %li= t '.feature3'
    %li= t '.feature4'
  %p= t '.footer1'
  %p= t '.footer2'
