%h2= t('.title')

= form_for [@current_project,@page], :html => {'data-creator-user-id' => @page.user_id, 'data-project-id' => @page.project_id, 'data-project-id' => @page.project_id} do |f|
  = page_fields(f)

  .submit
    = f.submit t('.submit'), :'data-disable-with' => t('.sending')
    = t('common.or')
    = link_to t('common.cancel'), project_pages_path(@current_project)
  
- content_for :column do
  %p= t '.define1_html'
  %p= t '.define2_html'
  %ul
    %li= t '.feature1_html'
    %li= t '.feature2_html'
    %li= t '.feature3_html'
    %li= t '.feature4_html'
  %p= t '.footer1_html'
  %p= t '.footer2_html'
