= page_column(@current_project,@pages,@page)

.page_header
  = page_action_links(@current_project,@task_list)
  %h2= @page
  .description= @page.description

= page_buttons(@current_project,@page)

#slots
  - @page.slots.each do |slot|
    .pageSlot{:id => "page_slot_#{slot.id}", :slot => slot.id}
      = render :partial => 'slot', :locals => {:object => slot.rel_object, :page_slot => slot}
