= page_column(@current_project,@pages,@page)

.page_header
  = page_action_links(@current_project,@task_list)
  %h2= @page.name
  .description= @page.description

= page_buttons(@current_project,@page)

#dividers
  = list_page_dividers(@page.dividers)
#notes
  = list_page_notes(@page.notes)