.page_header
  .text_actions
    - if can? :update, @page
      = rename_page_link(@current_project, @page)
      = t('common.or')
      = edit_mobile_page_link(@current_project, @page)
  %h2=h @page
  .description=h @page.description
  

- unless @edit_part.nil?
  = page_buttons(@current_project,@page)

.pageSlots{:class => (@edit_part == 'page' ? 'edit' : nil)}
  #slots
    = render :partial => 'slot', :collection => @page.slots, :locals => {:page => @page, :project => @current_project}
  
  .page_slot.pageFooter#page_slot_footer{:slot => -1}
