= page_column(@current_project,@pages,@page)

.page_header
  = page_action_links(@current_project,@task_list)
  %h2= @page
  .description= @page.description

- content_for :js_templates do
  = "document.observe(\"dom:loaded\", function() {Page.init(false, \"#{project_page_path(@current_project,@page)}\", \"#{form_authenticity_token}\"); Page.makeSortable();});"

= page_buttons(@current_project,@page)

.pageSlots
  -# Util widgets
  #pageInsert{:style => 'display:none'}
    %p#PIB= "Insert Here"
  
  #pageInsertItems
    #pageInsertItemsBar{:style => 'display:none'}
      #pageInsertItemCancel
        %a{:href => '#'}= "Cancel"
      #pageInsertItemWidgets
        = page_bar_buttons(@current_project,@page)
      
    #pageForms
      = new_note_form(@current_project,@page)
      = new_divider_form(@current_project,@page)
  
  #slots
    = render :partial => 'slot', :collection => @page.slots
  
  .pageSlot.pageFooter#page_slot_footer{:slot => -1}
