- invitation = group_invitation
.person.invitation{:id => "invitation_#{invitation.id}"}
  - if invitation.invited_user
    = thumb_avatar(invitation.invited_user)
    = t('.invited_user', :invitee => invitation.invited_user.login, :inviter => invitation.user.login)
  - else
    .new_user_avatar
      %p +
    = t('.invited_email', :email => invitation.email, :inviter => invitation.user.login)
  .status
    = t('invitations.invitation.pending')
    = t('invitations.invitation.time_ago', :time_ago_in_words => time_ago_in_words(invitation.updated_at))
  .links
    - if invitation.editable?(current_user)
      = resend_invitation_link(target,invitation)
      = loading('resend_invitation',invitation.id)
      = t('common.or')
      %span.discard= delete_invitation_link(invitation)
  .clear
