.person[invitation]
  - if invitation.invited_user
    = thumb_avatar(invitation.invited_user)
    = t('.invited_user_html', :invitee => invitation.invited_user.login, :inviter => invitation.user.login)
  - else
    .new_user_avatar
      %p +
    = t('.invited_email_html', :email => invitation.email, :inviter => invitation.user.login)
  .status
    = t('.pending')
    - if invitation.updated_at < 1.minute.ago
      = t('.time_ago', :time_ago_in_words => time_ago_in_words(invitation.updated_at))
    - else
      = t('.just_now')
  - if can? :update, invitation
    .links
      = link_to t('invitations.invitation.resend'), polymorphic_path([:resend, invitation.target, invitation])
      = loading('resend_invitation', invitation.id)
      = t('common.or')
      %span.discard
        = link_to t('invitations.invitation.discard'), polymorphic_path([invitation.target, invitation]), 'data-method' => 'delete', 'data-remote' => true, :class => 'invitation-destroy'
