.person.invitation{:id => "invitation_#{invitation.id}"}
  - unless invitation.invited_user.nil?
    = thumb_avatar(invitation.invited_user)
    = t('.invited_user', :inviter => invitation.user.login, :invitee => invitation.invited_user.login)
  - else
    = t('.invited_email', :email => invitation.email, :inviter => invitation.user.login)
  .status
    Pending
    = t('.time_ago', :time_ago_in_words => time_ago_in_words(invitation.updated_at))
  .actions
    = delete_invitation_link(invitation)