= form_for [project, invitation], :person do |f|
  %h2
    = t('invitations.search.invite_people')
  .documentation{:style => 'float:right'}
    = formatting_invitations_link
  .text_field
    = f.label :user_or_email, t('invitations.search.username_or_email')
    = f.text_field :user_or_email
  .text_field
    = f.label :role, t('invitations.search.role')
    = f.select :role, options_from_person_roles
  - if @current_project.organization.is_admin?(current_user)
    .text_field
      = f.label :membership, t('.also_invite_to_organization', :organization => @current_project.organization)
      = f.select :membership, options_from_organization_roles
  .submit
    = f.submit t('invitations.search.invite')
