.name.text_field
  = f.label :name, t('.name')
  = f.text_field :name
  = tooltip 'project_name', t('.name_description')
.permalink.text_field
  .label
    = f.label :permalink, t('.permalink')
    .description= t('.permalink_description')
  = t('.permalink_prefix', :domain => APP_CONFIG['app_domain'])

  = f.text_field :permalink
  = tooltip 'project_permalink', t('.permalink_description')
  .preview
    ="#{t('.permalink_prefix')}<span id='handle'></span>" 
  = javascript_tag "Event.observe('project_permalink', 'keyup', function(e) { Project.valid_url(); })"