.name.text_field
  = f.label :name, t('.name')
  = f.text_field :name
- if project.new_record?
  .permalink.text_field
    = f.label :permalink, t('.permalink')
    = t('.permalink_prefix')
    = f.text_field :permalink