.name.text_field
  .label
    = f.label :name, t('.name')
    .description= t('.name_description')
  = f.text_field :name

.permalink.text_field
  .label
    = f.label :permalink, t('.permalink')
    .description= t('.permalink_description')
  = t('.permalink_prefix', :domain => APP_CONFIG['app_domain'])
  = f.text_field :permalink
