%p= t('.define1_html')
%p= t('.define2_html')
%ul
  %li= t('.feature1_html')
  %li= t('.feature2_html')
  %li= t('.feature3_html')
  %li= t('.feature4_html')
  %li= t('.feature5_html')
  %li= t('.feature6_html')
  %li= t('.feature7_html')
%p= t('.footer')
