%p= t('.define1')
%p= t('.define2')
%ul
  %li= t('.feature1')
  %li= t('.feature2')
  %li= t('.feature3')
  %li= t('.feature4')
  %li= t('.feature5')
  %li= t('.feature6')
  %li= t('.feature7')
%p= t('.footer')
