#primer
  %p= t('.empty')
  .box
    %h2= link_to t('.create_first'), new_project_path
    %p= t '.define1_html'
    %p= t '.define2_html'
    %ol
      %li= t '.item1_html'
      %li= t '.item2_html'
      %li= t '.item3_html'
      %li= t '.item4_html'
      %li= t '.item5_html'
    %p= t '.footer' 
