#primer
  %p= t('.empty')
  .box
    %h2= link_to t('.create_first'), new_project_path
    %p= t '.define1'
    %p= t '.define2'
    %ol
      %li= t '.item1'
      %li= t '.item2'
      %li= t '.item3'
      %li= t '.item4'
      %li= t '.item5'
    %p= t '.footer' 
