.recent_conversations
  %h2= t('.title')
  - if recent_conversations.any?
    - for conversation in recent_conversations[0..2]
      = link_to h(conversation), project_conversation_path(project,conversation), :class => 'conversation'
    - if recent_conversations.size > 3
      = link_to t('.view_all'), project_conversations_path(project), :class => 'view_all'
    = link_to t('.new'), new_project_conversation_path(project), :class => 'new'
  - else
    = link_to t('.first'), project_conversations_path(project), :class => 'view_all'
