%h2= t(".title_#{@sub_action}", :project => @current_project)

= form_for @current_project, :url => nil do |f|
  = project_fields(f,@current_project,@sub_action)
  - unless @sub_action == 'deletion'
    = f.submit t('.submit')
