- if @sub_action == 'archived'
  = list_archived_projects(@archived_projects)
- else
  - if @pending_projects.any?
    .invitations
      = list_pending_invites(@pending_projects)

  - if @activities.any? or @projects.any?
    = new_comment_form(nil, nil)
    
    #activities
      = list_threads(@threads)
      = show_more_button(@activities)
    = javascript_tag autorefresh(@activities)
  - else
    = project_primer

- content_for :column do
  = new_project_link
  = #my_tasks(current_user.assigned_tasks(:all))
  - unless @sub_action == 'archived'
    = list_projects(@projects)
    - if @archived_projects.any?
      = link_to t('.archived', :count => @archived_projects.size), project_archived_path, :id => 'project_archived_link'
    = instructions_for_feeds
    = instructions_for_calendars
    = #print_projects_link
