- if @pending_projects
  .pending_projects
    = list_pending_projects(@pending_projects)
    
#activities
  = list_activities(@activities)

- content_for :column do
  .project_list
    %h2= t '.projects'
    = list_projects(@projects)
    = new_project_link
  .subscribe
    = link_to t('.subscribe')
