- if @current_project.organization.is_admin?(current_user)
  %h2= t('.title', :project => h(@current_project))
  %p= t('.explain_admin_html', :organization => h(@current_project.organization))
  %p= link_to t('.join'), join_project_path(@current_project)

- elsif @current_project.public
  %h2= t('.title', :project => h(@current_project))
  %p= t('.explain_public_html', :organization => h(@current_project.organization))
  %p= link_to t('.join'), join_project_path(@current_project)

- else
  %p= t('.not_allowed')

- content_for :column do
  = "&nbsp;".html_safe