- if @pending_projects
  .invitations
    = list_pending_invites(@pending_projects)
%h2{ :style => 'margin: 0px'}
  =t('.update_your_status')
= new_comment_form(@current_project, :message => '')

#activities
  = list_activities(@activities)
  
  
- content_for :column do
  .people_list
    %h2= t '.people_in_project'
    = list_users_statuses(@current_project.users)
    .invite_people
      = link_to t('.invite_people'), project_people_path(@current_project)
  .subscribe
    = link_to t('.subscribe'), user_rss_token(project_path(@current_project, :format => :rss))

- if false
  = javascript_tag "FancyZoomBox.directory = 'http://localhost:3000/images/zoom';" 
  = javascript_tag "$$('a.fancyzoom').each(function(e) { new FancyZoom(e) })"