- content_for :column do
  .people_list
    %h2= t 'projects.show.people_in_project'
    = list_people_statuses(@current_project.users)
    .invite_people
      = link_to 'Invite people...', project_people_path(@current_project)
  .subscribe
    = link_to t('.subscribe'), project_path(@current_project, :format => :rss)

= new_comment_form(@current_project)

#activities
  = list_activities(@activities)