- if @pending_projects.any?
  .invitations
    = list_pending_invites(@pending_projects)

- if @current_project.commentable?(current_user) && @current_project.archived == false
  %h2
    = t('.update_your_status')
    %span.help
      = formatting_documentation_link

  = new_comment_form(@current_project,@current_project.comments.new)

#activities
  = list_activities(@activities)
  = show_more_button(@activities)
  
- content_for :column do
  .project_name= @current_project.name
  .people_list
    %h2= t '.people_in_project'
    = list_users_statuses(@current_project.users)
    .invite_people
      = link_to "+ #{t('.invite_people')}", project_people_path(@current_project)
  - if @current_project.users.size > 1
    .tip
      = t('.tip')
  = subscribe_to_project_link(@current_project)
  = subscribe_to_calendar_link(@current_project)
  = #print_project_link(@current_project)