- if @pending_projects.any?
  .invitations
    = list_pending_invites(@pending_projects)

- if @current_project.commentable?(current_user) && !@current_project.archived
  = new_comment_form(@current_project,@current_project.comments.new)

#activities
  = list_threads(@threads)
  = show_more_button(@activities)
= javascript_tag autorefresh(@activities, @current_project)
= javascript_projects_people [@current_project]

- content_for :column do
  = render 'people_list', :project => @current_project, :compact => false
  - if @current_project.users.size > 1
    .tip= t('.tip')

  = render 'recent_conversations', :project => @current_project, :conversations => @recent_conversations
    
  = instructions_for_feeds
  = instructions_for_calendars
  = #print_project_link(@current_project)
  = instructions_for_email(@current_project)