%h2= t('.title', :project => @current_project)

- if @pending_projects.any?
  .invitations
    = list_pending_invites(@pending_projects)

- if can?(:converse, @current_project) and not @current_project.archived?
  = form_for [@current_project, @new_conversation], :html => { :multipart => true, :class => 'new_conversation new_comment', :'data-remote' => true, :'data-project-id' => @current_project.id } do |form|
    = form.hidden_field :simple
  
    - form.object.comments.build
    = form.fields_for :comments do |fields|
      = render 'comments/fields', :f => fields,
        :placeholder => t('comments.new.project'), :project => @current_project

#activities
  = list_threads(@threads)
  = show_more_button
  -# 7 days is a bit arbitrary. We should use the activity count for the project
  - if @current_project.created_at > 7.days.ago
    = render 'projects/new_project_suggestions'

- content_for :column do
  .more_links
    = render "shared/collapse"
  = render 'recent_conversations', :project => @current_project, :recent_conversations => @recent_conversations
  = render 'pages', :project => @current_project, :pages => @current_project.pages

  = render 'people_list', :project => @current_project, :compact => false
  - if @current_project.users.size > 1
    .tip= t('.tip')

  = instructions_for_feeds
  = instructions_for_calendars
  = instructions_for_email(@current_project)
  = link_to t('.public_project'), public_project_path(@current_project), :class => :public_link if @current_project.public
  = join_project_link(@current_project) unless @current_project.has_member?(@current_user)
  = leave_project_link(@current_project) if @current_project.has_member?(@current_user)
