- unless @pending_projects.empty?
  .invitations
    = list_pending_invites(@pending_projects)

%h2{ :style => 'margin: 0px'}
  = t('.update_your_status')
  %span.help
    = link_to t('.text_styling'), 'http://help.teambox.com/faqs/advanced-features/textile', :target => '_blank'
= new_comment_form(@current_project,@current_project.comments.new)

#activities
  = list_activities(@activities)
  = show_more_button(@activities)
  
- content_for :column do
  .project_name= @current_project.name
  .people_list
    %h2= t '.people_in_project'
    = list_users_statuses(@current_project.users)
    .invite_people
      = link_to t('.invite_people'), project_people_path(@current_project)
  .tip
    = t('.tip')
  .subscribe
    = link_to t('.subscribe'), user_rss_token(project_path(@current_project, :format => :rss))

/   = javascript_tag "FancyZoomBox.directory = 'http://localhost:3000/images/zoom';" 
/   = javascript_tag "$$('a.fancyzoom').each(function(e) { new FancyZoom(e) })"