%li
  = t('.file')
  = link_to_upload(upload, upload.file_name)
  = t('.uploaded_by')
  = link_to h(upload.user.name), user_url(upload.user)
  - if upload.description
    = '(' + h(upload.description) + ')'