.email{ :style => 'font-size: 12px; color: rgb(0,0,0); font-family: Helvetica, Arial' }

  %p{ :style => 'font-size: 12px; color: rgb(100,100,100)' }
    = "Hey, #{@user.name}!"

  %p{ :style => 'font-size: 14px; color: rgb(50,50,50)' }
    = "In order to complete your signup for Teambox, we need you to log in with the following link:"

  %h2{ :style => 'font-size: 20px; color: rgb(0,0,0)' }
    = link_to "Log into Teambox now!", "sdfsdf"

  %p{ :style => 'font-size: 14px; color: rgb(50,50,50)' }
    = "If this doesn't work, copy and paste the following link in your browser's bar:"
    %br
    = link_to "http://www.teambox.com/asdsdadasda", "asdasd"

  .footer{ :style => 'font-size: 10px; color: rgb(100,100,100)' }
    %p
      = "You receive this message because you signed up for a Teambox account with #{@user.email}"

    %p
      = "If you have any problems, please contact us at "
      = link_to "http://teambox.tenderapp.com", "http://teambox.tenderapp.com"

