.email{ :style => email_global }

  = dont_answer

  %p= t('emailer.reset_password.hey', :user_name => h(@user.name))

  .box{ :style => email_box }  
    %p=raw t('emailer.reset_password.follow_this_link', :new_password => content_tag(:b, t('emailer.reset_password.new_password')))
    %h2{ :style => email_text(:big) }
      = link_to t('emailer.reset_password.log_in'), @url

  %p{ :style => email_text(:small) }
    = t('emailer.reset_password.plaintext_link')
    %br
    = link_to @url, @url

  .footer{ :style => email_text(:small) }
    %p= t('emailer.reset_password.report_abuse', :email => @user.email)
    %p= t('emailer.reset_password.problems_html', :support => Teambox.config.support)

