.email{ :style =>  "#{email_global }"}
  .header
    %h1
      = link_to logo_image, projects_url(@project)
  .navigation{ :style=> email_navigation}

  = answer_instructions
  %p{ :style => email_text(:normal)}
    = t('emailer.notify.project')
    = link_to(h(@project.name), project_url(@project)) + '. '
    = t('emailer.notify.task_list')
    = link_to(h(@task_list.name), project_task_list_url(@project, @task_list))

  = render 'task', :task => @task
  = emailer_list_comments(@task.comments)
  = emailer_recent_tasks(@project, @recipient)

  .actions{ :style => 'font-size: 14px; color: rgb(100,100,100); padding: 15px' }
    %p= t('emailer.notify.view_this_task_online_html', :link => link_to(t('emailer.notify.task_link'), project_task_url(@project, @task)))
    = emailer_answer_to_this_email

  .footer{ :style => email_text(:small) }
    %p
      = @task.watchers.collect {|u| h(u) }.to_sentence
      = t('emailer.notify.are_watching_task', :count => @task.watchers.size)
    = emailer_commands_for_tasks(@recipient)
    %p
      = t('emailer.notify.stop_watching_link_html', :stop_watch => link_to(t('emailer.notify.stop_watch'), project_task_url(@project, @task)) )
      = t('emailer.notify.notification_settings_link_html', :settings_link => link_to(t('emailer.notify.settings_link'), account_notifications_url) )
