.email{ :style => email_global }

  = answer_instructions

  %p{ :style => email_text(:normal) }
    = t('emailer.notify.project')
    = link_to @project.name, project_url(@project)

  %h2{ :style => email_text(:big) }
    = t('emailer.notify.conversation')
    = link_to @conversation.name, project_conversation_url(@project, @conversation)

  = emailer_list_comments(@conversation)
  = emailer_recent_conversations(@project)

  .actions{ :style => 'font-size: 14px; color: rgb(100,100,100); padding: 15px' }
    %p= t('emailer.notify.view_online', :link => project_conversation_url(@project, @conversation))
    %p= t('emailer.notify.reply')

  .footer{ :style => email_text(:small) }
    %p
      = @conversation.watchers.to_sentence
      = t('emailer.notify.are_watching')

    %p
      = t('emailer.notify.notification_settings', :stop_watching_url => project_conversation_url(@project, @conversation))
