.email{ :style => email_global }

  = answer_instructions

  %p{ :style => email_text(:normal) }
    = t('emailer.notify.project')
    = link_to h(@project.name), project_url(@project)

  %h2{ :style => email_text(:big) }
    - if @conversation.name.blank?
      = link_to t('emailer.notify.conversation'), project_conversation_url(@project, @conversation)
    - else
      = t('emailer.notify.conversation')
      = link_to h(@conversation.name), project_conversation_url(@project, @conversation)

  = emailer_list_comments(@conversation.comments)

  .actions{ :style => 'font-size: 14px; color: rgb(100,100,100); padding: 15px' }
    %p= t('emailer.notify.view_online', :link => project_conversation_url(@project, @conversation))
    = emailer_answer_to_this_email

  .footer{ :style => email_text(:small) }
    %p
      = @conversation.watchers.collect {|u| h(u) }.to_sentence
      = t('emailer.notify.are_watching')

    %p
      = t('emailer.notify.stop_watching', :stop_watching_url => project_conversation_url(@project, @conversation))
      = t('emailer.notify.notification_settings', :url => account_notifications_url)