.email{ :style => email_global }

  %p{ :style => 'font-size: 10px; color: rgb(100,100,100)' }
    = #"Answer above this line to post a reply to this conversation."

  %p{ :style => 'font-size: 14px; color: rgb(50,50,50)' }
    = t('emailer.notify_conversation.project')
    = link_to @project.name, project_url(@project)

  %h2{ :style => 'font-size: 18px; color: rgb(0,0,0)' }
    = link_to @conversation.name, project_conversation_url(@project, @conversation)

  - @conversation.comments.each do |comment|
    - if comment == @conversation.comments.first
      - unread = 'background: rgb(255,255,225)'
    - else
      - unread = ''
    .comment{ :style => 'font-size: 14px; color: rgb(50,50,50); border-bottom: 1px #555 dotted' }
      .body{ :style => unread }
        %p
          %strong{ :style => 'font-size: 12px; color: rgb(50,50,50);' }
            = comment.user.name + ', '
          %span{ :style => 'font-size: 12px; color: rgb(150,150,150);' }= comment.created_at.strftime("%b %d at %I:%M %p")
          = comment.body_html
        - if comment.uploads.count > 0
          %ul
            - comment.uploads.each do |upload|
              %li
                = t('emailer.notify_conversation.file')
                = link_to h(upload.file_name), project_upload_url(upload.project, upload.file_name)
                = t('emailer.notify_conversation.uploaded_by')
                = link_to upload.user.name, user_url(upload.user)
                - if upload.description
                  = '(' + h(upload.description) + ')'

  .actions{ :style => 'font-size: 14px; color: rgb(100,100,100); padding: 15px' }
    %p= t('emailer.notify_conversation.view_online', :link => project_conversation_url(@project, @conversation))
    %p= #t('emailer.notify_conversation.reply')

  .footer{ :style => 'font-size: 10px; color: rgb(100,100,100)' }
    %p
      = to_sentence @conversation.watchers
      = t('.are_watching')

    %p
      = #t('.notification_settings', :stop_watching_url => 'url', :notification_settings_url => 'url)
