.email{ :style => email_global }

  = answer_instructions

  %h2{ :style => email_text(:big) }
    = t('emailer.notify.comment')
    = link_to @project.name, project_url(@project)

  = emailer_list_comments(@project.get_recent(Comment))
  = emailer_recent_conversations(@project)
  = emailer_recent_tasks(@project)

  .actions{ :style => 'font-size: 14px; color: rgb(100,100,100); padding: 15px' }
    %p= t('emailer.notify.view_online', :link => project_url(@project))
    = emailer_answer_to_this_email

  .footer{ :style => email_text(:small) }
    %p
      = t('emailer.notify.notification_settings', :url => account_notifications_url)