.email{ :style =>  "#{email_global}" }
  %h1= link_to logo_image, projects_url(@project)
  %h2{ :style => email_text(:normal) }
    - project_link =  link_to(@project.name, project_url(@project))
    = t('emailer.notify.digest_title_html', :project_link => project_link)

  %p{ :style => email_text(:small) }
    = t('emailer.common.do_not_answer')

  - @targets.each do |target|
    - case target
    - when Task
      = render 'task', :task => target
      = emailer_list_comments(target.comments, @comments)
    - when Conversation
      = render 'conversation', :conversation => target
      = emailer_list_comments(target.comments, @comments)
    - when Activity
      = render 'activity', :activity => target
    .actions{ :style => 'color: rgb(100,100,100)' }
      %p
        - case target
        - when Task
          - email = "#{@project.permalink}+task+#{target.id}@#{Rails.configuration[:smtp_settings][:domain]}"
          - stop_watch = link_to t('emailer.notify.stop_watch'), project_task_url(@project, target)
          = link_to t('emailer.notify.reply_online'), project_task_url(@project, target), :style => email_button
        - when Conversation
          - email = "#{@project.permalink}+conversation+#{target.id}@#{Rails.configuration[:smtp_settings][:domain]}"
          - stop_watch = link_to t('emailer.notify.stop_watch'), project_conversation_url(@project, target)
          = link_to t('emailer.notify.reply_online'), project_conversation_url(@project, target), :style => email_button
        - when Activity
          - page = target.target.is_a?(Page) ? target.target : target.target.page
          - stop_watch = link_to t('emailer.notify.stop_watch'), project_page_url(@project, page)
        - if email and Teambox.config.allow_incoming_email
          = link_to t('emailer.notify.reply_by_email'), "mailto:#{email}", :style => email_button
        = t('emailer.notify.stop_watching_link_html', :stop_watch => stop_watch )

  .footer{ :style => email_text(:small)+"; margin: 40px 0" }
    %p
      = t('emailer.notify.notification_settings_link_html', :settings_link => link_to(t('emailer.notify.settings_link'), account_notifications_url) )
