.email{ :style => email_global }
  %p{ :style => email_text(:small) }
    = t('emailer.common.do_not_answer')

  .box{ :style => email_box }
    %p= t('emailer.invitation.collaborate_with', :name => @referral.name)
    %p{ :style => email_text(:big) }
      = t('emailer.invitation.you_have_been_invited_to', :project => @project.name)
    %h2{ :style => email_text(:big) }
      = link_to t('emailer.invitation.accept_the_invitation'), projects_url(:invitation => @invitation.token)
    %p
      %strong
        = t('emailer.invitation.current_users')
      = to_sentence @project.people.collect { |p| p.name }

  %p{ :style => email_text(:small) }
    = t('emailer.invitation.plaintext_link')
    %br
    = link_to projects_url(:invitation => @invitation.token), projects_url(:invitation => @invitation.token)

  .footer{ :style => email_text(:small) }
    %p
      = t('emailer.invitation.report_abuse')
