.email{ :style =>  "#{email_global}"}
  .header
    %h1
      = link_to logo_image, projects_path(@project)
  .navigation{ :style=> email_navigation}

  %p{ :style => email_text(:small) }
    = t('emailer.common.do_not_answer')

  %p{ :style => email_text(:normal)}
    = t('emailer.notify.project')
    = link_to(h(@project.name), project_url(@project)) + '. '

  - @targets.each do |target|
    - if target.class == Task
      .box{ :style => email_box(target)}
        %h2{ :style => email_text(:big) }
          = t('emailer.notify.task')
          = link_to h(target.name), project_task_url(@project, target)
        %p
          - if target.assigned
            %span{ :style => 'margin-right: 15px' }= t('emailer.notify.assigned_to', :user => content_tag(:b,h(target.assigned.user.name))).html_safe
          %span{ :style => 'margin-right: 15px' }= t('emailer.notify.status', :status => content_tag(:b, localized_status_name(target))).html_safe
          - if target.due_on
            %span{ :style => 'margin-right: 15px' }= t('emailer.notify.due_on', :date => content_tag(:b, due_on(target)) ).html_safe
    - elsif target.class == Conversation
      .box{ :style => email_box(target)}
        %h2{ :style => email_text(:big) }
          - conversation_title = target.name.blank? ? truncate( sanitize( target.comments.try(:first).try(:body), :tags => [nil]), :length => 80) : target.name
          = t('emailer.notify.conversation')
          = link_to h(conversation_title), [@project, target]
      
    = emailer_list_comments(target.comments, @comments)
    .actions{ :style => 'color: rgb(100,100,100)' }
      %p
        - link = link_to t('emailer.notify.click_here'), [@project, target]
        - if target.class == Task
          - email = link_to t('emailer.notify.click_here'), "#{@project.permalink}+task+#{target.id}@#{Rails.configuration[:app_domain]}"
        - elsif target.class == Conversation
          - email = link_to t('emailer.notify.click_here'), "#{@project.permalink}+conversation+#{target.id}@#{Rails.configuration[:app_domain]}"
        = t('emailer.notify.digest_reply_html', :click_here_link => link, :click_here_email => email)
        = t('emailer.notify.stop_watching_link_html', :stop_watch => link_to(t('emailer.notify.stop_watch'), [@project, target]) )

  .footer{ :style => email_text(:small) }
    %p
      = t('emailer.notify.notification_settings_link_html', :settings_link => link_to(t('emailer.notify.settings_link'), account_notifications_url) )
