.email{ :style => email_global }

  = dont_answer

  .box{ :style => email_box }
    %p{ :style => email_text(:big) }
      =raw t('emailer.project_membership_notification.you_have_been_added_to', :project => content_tag(:b, h(@project.name)))
    %p
      %strong
        = t('emailer.invitation.current_users')
      = @project.users_with_invited.collect(&:name).to_sentence

  %p{ :style => email_text(:small) }
    =raw t('emailer.project_membership_notification.project_link', :project => content_tag(:b,h(@project.name)))
    %br
    = link_to project_url(@project), project_url(@project)

  .footer{ :style => email_text(:small) }
    %p
      = t('emailer.invitation.report_abuse')
