.email{ :style => email_global }

  = dont_answer

  .box{ :style => email_box }
    %p{ :style => email_text(:big) }
      = t('emailer.public_download.user_sent_you_a_link', :user => @user.name, :filename => @upload.file_name)
    %h2{ :style => email_text(:big) }
      = link_to t('emailer.public_download.go_to_download_page'), public_download_file_url(@upload.token)
  %p{ :style => email_text(:small) }
    = t('emailer.public_download.plaintext_link')
    %br
    = link_to public_download_file_url(@upload.token), public_download_file_url(@upload.token)

  .footer{ :style => email_text(:small) }
    %p= t('emailer.invitation.report_abuse')
