.email{ :style => email_global }

  = dont_answer

  %p= t('emailer.reset_password.hey', :user_name => h(@user.name))

  .box{ :style => email_box }
    %p= t('emailer.reset_password.successfully_reset')

  .footer{ :style => email_text(:small) }
    %p= t('emailer.reset_password.report_abuse', :email => @user.email)
    %p= t('emailer.reset_password.problems_html', :support => Teambox.config.support)
