%h2= t('.learn')

.section
  %p= t('.line1')
  %p= t('.line2')
  %p= t('.line3')
  %p.center
    = link_to content_tag(:span, t('.create')), create_example_project_path, :class => 'button'
  %p= t('.line4')
    
    
