- upload = @upload
- icon_path = "file_icons/48px/#{h upload.file_type}.png"

%h1= t('.download_file')

#download_file
  .file_pane
    .fade
    - if Rails.root.join("public/images/#{icon_path}").exist?
      .info
        = link_to image_tag(icon_path), public_send_file_path(upload.token), :class => 'file_icon', :rel => (upload.image? ? 'facebox' : '')

    .filename
      = link_to upload.asset_file_name, public_send_file_path(upload.token)
      %p== #{number_to_human_size(upload.size)}, by #{upload.user.name}
