%h2= t('.title')

%p
  Would you like to authorize
  = link_to @token.client_application.name,@token.client_application.url
  (
  = link_to @token.client_application.url,@token.client_application.url
  ) to access your account?
- form_tag authorize_url do
  = hidden_field_tag "oauth_token", @token.token
  - if params[:oauth_callback]
    = hidden_field_tag "oauth_callback", params[:oauth_callback]
  %p
    = check_box_tag 'authorize'
    authorize access
  %p
    = submit_tag