%h2= t('.title')

%p
  = link_to @client_application.name,@client_application.url
  (
  = link_to @client_application.url,@client_application.url
  )

  - if @oauth_scopes.empty? 
    wants to authenticate with your Teambox account
  - else
    is requesting permission to do the following:
- form_tag authorize_url, :id => 'oauth_authorize_form' do
  = hidden_field_tag "response_type", params[:response_type]
  = hidden_field_tag "client_id", params[:client_id]
  = hidden_field_tag "redirect_uri", @redirect_url.to_s
  = hidden_field_tag "state", params[:state]
  = hidden_field_tag "scope", params[:scope]
  = hidden_field_tag "authorize", '0'

  #scopes
    - @oauth_scopes.each do |scope|
      .scope
        %h3= t(".#{scope}")
        %p= t(".#{scope}_description")
  .do_allow= t('.authorize_access')
  %p
    = link_to content_tag(:span,t('.deny')), '#', :class => 'button deny'
    = link_to content_tag(:span,t('.allow')), '#', :class => 'button allow'
