.name.text_field
  = f.label :name, t('projects.fields.name')
  = f.text_field :name
  = errors_for project, :name

= watch_permalink_example

- if time_tracking_enabled?
  .check_box.archived
    = f.check_box :tracks_time
    = f.label :tracks_time, t('projects.fields.tracks_time') + " " + time_tracking_doc
