.name.text_field
  = f.label :name, t('projects.fields.name')
  = errors_for project, :name
  = f.text_field :name
  - tooltip t('projects.fields.name_description')
.permalink.text_field
  = f.label :permalink, t('projects.fields.permalink')
  = errors_for project, :permalink
  = f.text_field :permalink
  - tooltip t('projects.fields.permalink_description')
