.name.text_field
  = f.label :name, t('projects.fields.name')
  = errors_for project, :name
  = f.text_field :name
  - tooltip t('projects.fields.name_description')

.organization.text_field
  - case current_user.organizations.size
  - when 0
    = f.label :organization_id, t('.choose_organization.new_org_name')
    = f.text_field :organization_name, :placeholder => t('organizations.fields.name_placeholder')
    = errors_for(@organization, :name) || errors_for(@organization, :permalink)
  - else
    - if Teambox.config.community # single organization
      = f.hidden_field :organization_id, :value => Organization.last.id
    - else
      = f.label :organization_name, t('.choose_organization.choose_org')
      = f.select :organization_id, options_for_organizations(current_user.organizations)
      = errors_for project, :organization_id
