.name.text_field
  = f.label :name, t('projects.fields.name_html')
  = errors_for project, :name
  = f.text_field :name

.permalink.text_field
  = f.label :permalink, t('projects.fields.permalink_html')
  = errors_for project, :permalink
  = f.text_field :permalink
  = permalink_example(project.permalink)
  = watch_permalink_example

- if @current_project.organization.is_admin?(current_user)
  .text_field
    = f.label :organization_id, t('projects.fields.organization')
    = errors_for project, :organization_id
    = f.select :organization_id, options_for_organizations(current_user.admin_organizations)
    %p.inline= link_to t('.manage_organizations'), organizations_path
- else
  .text_field
    = f.label :organization_id, t('projects.fields.organization')
    = errors_for project, :organization_id
    %p
      = t('.you_cant_transfer_this_project_html', :organization => @current_project.organization)
      = link_to t('.manage_organizations'), organizations_path

.check_box.archived
  = f.check_box :archived
  = f.label :archived, t('projects.fields.archived_html')

- if time_tracking_enabled?
  .check_box.archived
    = f.check_box :tracks_time
    = f.label :tracks_time, t('projects.fields.tracks_time_html')

.check_box.archived
  = f.check_box :public
  = f.label :public, t('projects.fields.public_project_html')

- if @current_project.try(:public)
  %div{ :style => 'margin: 10px 0 15px 22px; display: block' }
    = link_to t('projects.show.public_project'), public_project_path(@current_project), :class => :public_link
