- content_for :column do
  .section
    = link_to "Overview", public_project_path(@project)
    = link_to "All Conversations", public_project_conversations_path(@project)
  - page_list = visible_pages_list(@project)
  - if page_list.any?
    .section
      %h3 Pages
      - for page in page_list
        = link_to h(page), public_project_page_path(@project, page)
  - else
    %p No pages on this project
  .section
    - if @projects.include? @project
      %b= link_to "View inside Teambox", project_path(@project)
    - else
      %b= link_to "Join this group", project_path(@project)
    = link_to "Other public projects...", public_projects_path
  .section
    %p== This project has #{@project.users.size} members
    - for user in @project.users[0,28]
      = micro_avatar(user)
