%p
  Welcome to the Teambox community.
  = link_to "Join the project", project_path(@project)
  to receive community announcements or request support.

.pages
  %h2 Documentation
  - for page in @project.pages
    .page
      = link_to page, public_project_page_path(@project, page), :class => :page

.conversations
  %h2 Recent conversations
  - for conversation in @recent_conversations
    .conversation
      = link_to conversation, public_project_conversation_path(@project, conversation), :class => :conversation
      %span
        == #{pluralize(conversation.comments_count, "message", "message")},
        == last one #{time_ago_in_words(conversation.updated_at)} ago
  .conversation= link_to "+ New conversation", new_project_conversation_path(@project), :class => :new_conversation

.tasks
  %h3 How to report issues and suggestions
  %p For this, join the project and create Tasks inside it. You can also look up existing tasks and comment on them.

= render 'public/projects/column'
