- if @projects.include? @project
  %p
    This is the public view for this project. 
    = link_to "Go inside Teambox", project_path(@project)
    to access its conversations, tasks and pages.
    
- else
  %p
    Welcome to the Teambox community.
    = link_to "Join the project", project_path(@project)
    to receive community announcements or request support.

- page_list = visible_pages_list(@project)
- if page_list.any?
  .pages
    %h2 Documentation
    - for page in page_list
      .page
        .icon
        = link_to h(page), public_project_page_path(@project, page), :class => :page
        .clear

.conversations
  %h2 Recent conversations
  - for conversation in @recent_conversations
    .conversation
      = link_to h(conversation), seo_public_project_conversation_path(@project, conversation), :class => :conversation
      %span
        == #{pluralize(conversation.comments_count, "message", "messages")},
        == last one #{time_ago_in_words(conversation.updated_at)} ago
  - if @recent_conversations.size == 11
    .conversation= link_to "View all conversations...", new_project_conversation_path(@project), :class => :new_conversation
  .conversation= link_to "+ New conversation", new_project_conversation_path(@project), :class => :new_conversation

.task_lists
  %h2 Tasks in this project
  %p You can suggest or work on tasks from this project. You can also look up existing tasks and comment on them.
  - for task_list in @project.task_lists
    %p.task_list
      %b= link_to(h(task_list), project_task_list_path(@project, task_list)) + ":"
      - tasks = task_list.tasks.where(:is_private => false).select('id, name').order('id desc').limit(5)
      - tasks = tasks.collect { |task| link_to h(task), project_task_path(@project, task) }
      = raw tasks.join(", ") + (tasks.size == 5 ? ", ..." : "")
  

= render 'public/projects/column'
