.name.text_field
  = f.label :name, t('hooks.fields.name')
  = errors_for hook, :name
  = f.text_field :name
.message.text_field
  = f.label :message, t('hooks.fields.message')
  = errors_for hook, :message
  = f.text_area :message
  %p= t("hooks.fields.instruction", :documentation => (link_to t("hooks.fields.documentation"), '#doc'))
-if @template_readme
  .readme
    =@template_readme
