- if Teambox.config.providers? and !Teambox.config.providers.empty?
  - Teambox.config.providers.each do |provider|
    %p{:id => provider[:provider].downcase}
      - if current_user.app_links.find_by_provider(provider[:provider])
        = t(:'oauth.your_account_is_linked_html', :provider => provider[:provider].titleize)
        = link_to t(:'oauth.unlink_account'), unlink_app_path(provider[:provider])
      - else
        = t(:'oauth.your_account_is_not_linked_html', :provider => provider[:provider].titleize)
        = link_to t(:'oauth.link_account'), "#{OmniAuth.config.path_prefix}/#{provider[:provider]}"