- if @invitation_token
  = hidden_field_tag 'invitation', @invitation_token

.first_name.text_field
  = f.label :first_name, t('users.form.first_name')
  = f.text_field :first_name, :autofocus => 'autofocus'
  = errors_for user, :first_name
.last_name.text_field
  = f.label :last_name, t('users.form.last_name')
  = f.text_field :last_name
  = errors_for user, :last_name
.email.text_field
  = f.label :email, t('users.form.email')
  - if (@invitation || @app_link)
    = f.text_field :email, :readonly => 'readonly', :style => 'color: #999'
  - else
    = f.text_field :email
  = errors_for user, :email
- if @invitation
  .use_this_email{ :style => 'margin: 10px; padding: 10px; border: 1px rgb(220,220,150) solid; background-color: rgb(255,255,200)' }
    = t('.use_this_email')

.language.select
  = f.label :locale, t('users.form.language')
  = f.select :locale, locale_select_values

.time_zone.select
  = f.label :time_zone, t('users.form.time_zone')
  = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)"

- if !@invitation
  - user.organizations.build
  = f.fields_for :organization do |organization|
    %fieldset.account
      %legend= t('.organization.title')
      %p
        = t('.organization.explain1')
        %br
        = t('.organization.explain2')
      .login.text_field
        = organization.label :name, t('.organization.label')
        = organization.text_field :name
        .field_note= t('.organization.field_note')

%fieldset.account
  %legend= t('.account.title')
  %p
    = t('.account.choose_username')
    %br
    = t('.account.validations')
  .login.text_field
    = f.label :login, t('users.form.login')
    = f.text_field :login
    = errors_for user, :login
    .field_note= t('.account.field_note')
  .password.text_field
    = f.label :password, t('users.form.password')
    = f.password_field :password, :autocomplete => 'off'
    = errors_for user, :password
  .password.text_field
    = f.label :password_confirmation, t('users.form.confirm_password')
    = f.password_field :password_confirmation, :autocomplete => 'off'
    = errors_for user, :password_confirmation

  - build_user_phone_number(user)
  = f.fields_for :card do |card|
    = card.fields_for :phone_numbers do |phone|
      .phone_number.text_field
        = phone.label :name, t('users.form.phone')
        = phone.text_field :name
        .field_note= t('users.form.phone_for_integration')
