.check_boxes.notifications
  %p= t('.clarification', :login => user.login)
  .check_box.notify
    = f.check_box :notify_conversations
    = f.label :notify_conversations, t('.notify_conversations')
  .check_box.notify
    = f.check_box :notify_tasks
    = f.label :notify_tasks, t('.notify_tasks')

%br
%h3= t('.notification_options')
%table.notifications
  %tr
    %th= t('.project_name')
    %th= t('.watch_new_task')
    %th= t('.watch_new_conversation')
    %th= t('.digest')
  %tr
    %td
      .project= t('.default')
    %td= f.check_box :default_watch_new_task
    %td= f.check_box :default_watch_new_conversation
    %td= f.select :default_digest, digest_select_options

  = f.fields_for :people do |person|
    %tr
      %td= person.object.project.name
      %td= person.check_box :watch_new_task
      %td= person.check_box :watch_new_conversation
      %td= person.select :digest, digest_select_options

.notifications.many_fields
  .notify
    = f.label :digest_delivery_hour, t('.digest_delivery_time')
    = f.select :digest_delivery_hour, (0..24).collect {|i| [ l(Time.now.at_midnight + i.hours, :format => :short), i ] }
  .check_box.notify
    = f.check_box :wants_task_reminder
    = f.label :wants_task_reminder, t('.wants_task_reminder')
  .check_box.notify
    = f.check_box :instant_notification_on_mention
    = f.label :instant_notification_on_mention, t('.notify_on_mention')
