.check_boxes.notifications
  %p= t('.clarification', :login => user.login)
  .check_box.notify
    = f.check_box :notify_conversations
    = f.label :notify_conversations, t('.notify_conversations')
  .check_box.notify
    = f.check_box :notify_tasks
    = f.label :notify_tasks, t('.notify_tasks')

%br
%h3= t('.watch_options')
.check_boxes.notifications
  %p= t('.clarification_watch_new_task_or_conversation', :login => user.login)
  = f.fields_for :people do |person|
    .check_box.notify
      = person.check_box :watch_new_task
      = person.label :watch_new_task, t('.watch_new_task', :project => person.object.project.name)
    .check_box.notify
      = person.check_box :watch_new_conversation
      = person.label :watch_new_conversation, t('.watch_new_conversation', :project => person.object.project.name)

%br
%h3= t('.email_delivery_options')
.notifications.many_fields
  .notify
    = f.label :digest_delivery_hour, t('.digest_delivery_time')
    = f.select :digest_delivery_hour, (0..24).collect {|i| [ l(Time.now.at_midnight + i.hours, :format => :short), i ] }
  = f.fields_for :people do |person|
    .notify
      = person.label :digest, t('.digest', :project => person.object.project.name), :class => 'digest'
      = person.select :digest, Person::DIGEST.collect {|option,index| [ t(".digest_option_#{option}"), index ] }
  .check_box.notify
    = f.check_box :wants_task_reminder
    = f.label :wants_task_reminder, t('.wants_task_reminder')
  .check_box.notify
    = f.check_box :instant_notification_on_mention
    = f.label :instant_notification_on_mention, t('.notify_on_mention')
