.card
  -unless card.phone_numbers.empty?
    .phone_numbers
      %h3= t('.phone_numbers')
      -for phone_number in card.phone_numbers
        .phone.item
          %span.type= phone_number.get_type
          = phone_number.name
  -unless card.email_addresses.empty?
    .email_addresses
      %h3= t('.email_addresses')
      -for email_address in card.email_addresses
        .email_address.item
          %span.type= email_address.get_type
          = email_address.name
  -unless card.websites.empty?
    .websites
      %h3= t('.websites')
      -for website in card.websites
        .website.item
          %span.type= website.get_type
          = website.name
  -unless card.addresses.empty?
    .addresses
      %h3= t('.addresses')
      -for address in card.addresses
        .address.item
          %span.type= address.get_type
          = address.street
          %br/
          = "#{address.city} #{address.state}, #{address.zip}"
          %br/          
          = t("countries.#{address.country}") unless address.country.nil?
  -unless card.ims.empty?
    .ims
      %h3= t('.ims')
      -for im in card.ims
        .im.item
          %span.type="#{im.get_type} - #{im.get_im_type}"
          = im.name
  -unless card.social_networks.empty?
    .social_networks
      %h3= t('.social_networks')
      -for social_network in card.social_networks
        .social_network.item
          %span.type= "#{social_network.get_network_type} - #{social_network.get_type}"
          = social_network.name