.upload{:id => "upload_#{index}", :class => cycle('alternate', '')}
  - if file.is_folder?
    .header
      .icon= image_tag "/famfamfam/folder.png"
      .file= link_to file.name, url_for(params.merge(:path => file.full_path.gsub(/^#{@project_path}/i, '')))
      .size
      .author
      .more
        [+]
    
    .reference{:style => "display:none"}
      = link_to t('.open'), url_for(params.merge(:path => file.full_path.gsub(/^#{@project_path}/i, '')))
      = link_to t('.delete'), file.delete_url, :method => :delete, :confirm => t('.delete_confirmation')
  
  - else
    .header
      .icon= file_icon_image(file.name, '16px')
      .file= link_to file.name, file.download_url
      .size= "(#{ number_to_human_size(file.size) })"
      .author
      .more
        [+]
        
    .reference{:style => "display:none"} 
      = link_to t('.download'), file.download_url
      = link_to t('.download_compressed'), file.download_compressed_url
      = link_to t('.delete'), file.delete_url, :method => :delete, :confirm => t('.delete_confirmation')