- if project.editable?(current_user)
  = task_list_link(project)

- else
  %p= t('.cant_create')

- case location_name
  - when 'show_tasks'
    = task_overview_box(@task)

    %h2= @task_list
    = sidebar_tasks(@task_list.tasks.unarchived)

  - when 'show_task_lists'
    = task_list_overview_box(@task_list)

    %h2= @task_list
    = sidebar_tasks(@task_list.tasks.unarchived)

  - when 'index_task_lists'
    = filter_task_lists(project)

    = my_tasks(current_user.assigned_tasks(:all))

= banner(@events,@chart)

%h2 Other views
= subscribe_to_calendar_link(project)
= print_task_lists_link(project)