.name.text_field
  = f.text_field :name, :class => 'focus'
- unless task_list.new_record?
  .pick_date
    = f.label :start_on
    = date_picker(f, :start_on)
  .pick_date
    = f.label :finish_on
    = date_picker(f, :finish_on)