.task_list_wrap{ :id => "main_task_list_#{task_list.id}" }
  .task_list
    = show_comments_count(task_list)
    = the_task_list_link(task_list)
  .tasks{ :id => "project_#{task_list.project.id}_task_list_#{task_list.id}" }
    = list_tasks(task_list.project,task_list,task_list.tasks,current_target)