#task_list_overview_box
  %h2= "This task list"
  %p
    %strong= "Starts on:"
    = @task_list.start_on || "<i>Undefined</i>"
  %p
    %strong= "Ends on:"
    = @task_list.finish_on || "<i>Undefined</i>"