#primer{:style => (primer_hidden ? 'display:none' : nil)}
  %p= t('.empty')
  .box
    - if can? :make_task_lists, project
      %h2= link_to t('.create_first'), new_project_task_list_path(project), {:class => 'create_first_task_list_link'}.merge(show_new_task_list(project))
    %p= t '.define_html'
    %ul
      %li= t '.item1_html'
      %li= t '.item2_html'
      %li= t '.item3_html'
      %li= t '.item4_html'
    %p= t '.footer1_html' 
    %p= t '.footer2_html'