#primer
  %p= t('.empty')
  .box
    - if project.editable?(current_user)
      %h2= link_to_function t('.create_first'), show_task_list(project,TaskList.new)
    %p= t '.define'
    %ul
      %li= t '.item1'
      %li= t '.item2'
      %li= t '.item3'
      %li= t '.item4'
    %p= t '.footer1' 
    %p= t '.footer2'