#show_task_list
  = task_list_header(project,task_list)
  = task_list_form(project,task_list)
  = tabular_task_list(project,task_list,'all')
  %br
  = people_watching(project,current_user,task_list)
  = new_comment_form(project,project.comments.new, :target => task_list)

#page
  #activities
    = list_comments(task_list.comments,task_list)