- if @current_project
  = banner(@events,@chart)

  - if @task_lists.any?
    = tabular_task_lists(@current_project,@task_lists,@sub_action)
  - else
    = task_list_primer(@current_project)
  
  - content_for :column do
    = task_list_column(@current_project,@task_lists,@sub_action,@task_list)

- else
  %h2= t('.tasks_for_all_projects')

  = tasks_for_all_projects(@tasks)