%fieldset
  %legend=t('.colours')

  - Organization.default_settings['colours'].keys.each do |field|
    .text_field
      %label
        = t(".#{field}_colour")
      = custom_organization_colour_field(f, @organization, field)

.option_fields
  %label= t('.logo')
  .option
    = f.file_field :logo
  %img.logo_square{ :src => @organization.logo.url(:square) }
  %img.logo_top{ :src => @organization.logo.url(:top) }
.text_area
  %label= t('.description')
  = errors_for @organization, :description
  = f.text_area :description
