.text_field
  %label= t('.name_html')
  = errors_for @organization, :name
  = f.text_field :name
.text_field
  %label= t('.permalink_html')
  = errors_for @organization, :permalink
  = f.text_field :permalink
- unless @organization.new_record?
  .check_box
    = errors_for @organization, :omit_email_processing
    = f.check_box :omit_email_processing
    %label{:for => 'organization_omit_email_processing'}= t('.omit_email_processing_html')
%br
-#.text_field
-#  %label Default language <em>invitations will be sent in this language</em>
-#  = select_tag :language, "<option>English</option>"
-#.text_field
-#  %label Default timezone <em>for new users</em>
-#  = select_tag :timezone, "<option>GMT+1 Madrid</option>"
-#.text_field
-#  %label Hosted only: Configure domain name to accept from
-#  = text_field_tag 'asd', '', :placeholder => 'teambox.com'
