%h2= @organization

%p
  = t('.there_are_x_users', :count => @organization.users.count)
  = link_to t('.admin_users'), organization_memberships_path(@organization)
  = t('common.and')
  = t('.number_of_projects', :count => @organization.projects.count)
  = link_to "(admin projects)", projects_organization_path(@organization)

- form_for @organization do |f|
  = f.error_messages
  = render 'organizations/fields', :f => f
  .submit
    = f.submit t('.submit')

= render 'organizations/column'
