%h2= t('.title', :organization => @organization)

- unless Teambox.config.community
  %p= t('.instructions_html', :organizations_link => organizations_path)

%p.new_project= link_to t('.new_project'), new_project_path, :class => :add_button

= render 'active_projects'
= render 'archived_projects'
