%p.actions
  %span
    = link_to '', edit_project_page_divider_path(divider.project, divider.page, divider),
        :'data-remote' => true, :class => 'edit_icon'
    = loading_action_image("divider_#{divider.id}", true)
    = link_to '', project_page_divider_path(divider.project, divider.page, divider),
        :'data-remote' => true, :'data-method' => 'delete', :'data-confirm' => t('.delete_confirm'), :class => 'widget_delete trash_icon'
    = loading_action_image("delete_divider_#{divider.id}", true)
%p.actions.handle
  %span
    = drag_widget_handle(divider)
