= form_for [project,page,divider], :html => { :style => 'display: none', :'data-remote' => 'true' } do |f|
  = page_slot_fields
  .area
    = divider_fields(f)
    .submit{ :id => "divider_submit" }
      = f.submit t('.submit'), :'data-disable-with' => t('pages.new.sending')
      = t('common.or')
      = link_to t('common.cancel'), '#', :class => 'cancelPageWidget'
    =loading('divider_form')
    .clear  
  .clear  