.edit_details{:style => 'display: none;'}
  - remote_form_for upload, :url => project_upload_path(project,upload) do |f|
    .filename_edit
      = f.text_field :image_filename, :class => "upload_filename"
      = f.submit 'Save', :id => "save_upload_#{upload.id}"
      = cancel_edit_link upload
      = loading('update',upload.id)
    .description_edit
      = f.text_field :description, :class => "upload_description"