#uploads_list
  - if @current_folder
    .breadcrumbs
      = folder_breadcrumbs

  .uploads
    - if @current_folder
      = render 'uploads/parent_folder', :folder => @parent_folder
    = render 'uploads/new_folder'
    = render :collection => @folders, :partial => 'uploads/folder'

    = render @uploads