#new_upload_iframe
  = error_messages_for :upload
  - form_for upload, :url => page.nil? ? upload_form_url_for(comment) : page_upload_form_url_for(page), :html => { :multipart => true, :method => :post } do |f|
    = hidden_field_tag 'iframe', 'true'
    - if page
      = page_slot_fields(nil, @insert_id, @insert_before ? '1' : '0')
    .file
      = t('.select_a_file')
      = f.file_field :asset, :size => 25, :id => 'upload_file'
      = loading('upload')
      = observe_upload_form
=loading('upload_iframe_form')