= form_for [@current_project,Folder.new], :html => {:style => 'display: none', :id => 'new_folder_form'} do |f|
  -# TODO: Add an attribute to add the folder in the right @parent_folder
  .header
    .icon
      = image_tag '/famfamfam/folder.png'
    .full_row
      = f.text_field :name, :value => t('.default_text'), :id => 'new_folder_name'
      .actions
        = link_to t('common.cancel'), '#', :class => 'close'
        = f.submit t('.submit'), :class => 'button'
