#primer
  %p= t('.empty')
  .box
    %h2= link_to_function t('.create_first'), show_new_upload_form
    %p= t '.define1_html'
    %p= t '.define2_html'
    %ul
      %li= t '.item1_html'
      %li= t '.item2_html'
      %li= t '.item3_html'