#primer
  %p= t('.empty')
  .box
    %h2= link_to_function t('.create_first'), show_new_upload_form
    %p= t '.define1'
    %p= t '.define2'
    %ul
      %li= t '.item1'
      %li= t '.item2'
      %li= t '.item3'