#edit_upload{ :style => 'display: none' }
  = error_messages_for :upload
  - form_for [project,upload], :html => { :multipart => true } do |f|
    .file
      = f.label :upload, t('uploads.new_upload.select_file')
      = f.file_field :upload, :size => 20
    .description.text_field
      = f.label :description, t('uploads.new_upload.description')
      = f.text_field :description
    = submit_tag t('uploads.new_upload.upload')