#edit_upload{ :style => 'display: none' }
  = error_messages_for :upload
  - form_for [project,upload], :html => { :multipart => true } do |f|
    .description.text_field
      = f.label :description, t('uploads.new_upload.description')
      = f.text_field :description
    .file
      = f.label :asset, t('uploads.new_upload.select_file')
      = f.file_field :asset, :size => 20
    = submit_tag t('uploads.new_upload.upload')