%div[upload]{ :class => cycle('alternate', '') }
  .header
    .icon
      - icon_name = Upload::ICONS.include?(upload.file_type) ? upload.file_type : '_blank'
      - icon_path = "file_icons/16px/#{icon_name}.png"
      = image_tag icon_path
    .file
      = link_to_upload upload, upload.file_name
    .size
      = number_to_human_size upload.size
    .author
      = upload.user
    .more
      [+]

  .reference{ :style => 'display: none' }
    = link_to_upload upload, t('.download'), {:rel => nil}
    - if can?(:update, upload) # and request.format != :m
      = link_to t('.remove'), [upload.project, upload], :'data-remote' => true,
        :'data-method' => 'delete', :'data-confirm' => t('confirm.delete_upload')

