%div[upload]
  .info
    = link_to upload.file_type, upload.url, :class => upload.file_type, :rel => (upload.image? ? 'facebox' : '')
  - unless rss?
    .date= posted_date upload.created_at
  .file
    = link_to_upload(upload, upload.file_name)
    == (#{number_to_human_size(upload.size)})

  - unless upload.description.blank?
    .description&= upload.description
    
  .reference
    = activity_title upload

    - if not activity and upload.editable?(current_user)
      &ndash;
      = link_to t('.remove'), [upload.project, upload], :'data-remote' => true,
          :'data-method' => 'delete', :'data-confirm' => t('confirm.delete_upload')
