.upload_thumbnail{:id => "upload_#{upload.id}"}
  -if upload.is_image?
    =upload_link_with_thumbnail(upload)
  -else
    = file_icon_image(upload,'16px')
  %span
    = upload_link(upload)
    = parenthesize(number_to_human_size(upload.filesize))
    = delete_upload_link(upload,target)