.upload_wrap{:id => "upload_#{upload.id}", :style => 'display:block'}
  = upload_actions_links(upload)
  .upload
    = file_icon_image(upload,'48px')
    = upload_thumbnail_image(project,upload)

    .filename.show_details
      .name
        = upload_text_link(upload)
      .date
        = posted_date upload.created_at
      .uploader
        Uploaded by
        = link_to upload.user.name, user_path(upload.user)
      .description
        = h(upload.description)
        
    =edit_upload_form(project,upload)

    .clear