%div[upload]{ :class => ['file_upload', cycle('alternate', '')] }
  .header
    .icon
      = image_tag file_icon_path(upload, '16px')
    .file
      = link_to_upload upload, upload.file_name
    .size
      = number_to_human_size upload.size
    .author
      = upload.user
    .more
      [+]

  .reference{ :style => 'display: none' }
    = link_to_upload upload, t('.download'), {:rel => nil}
    = link_to t('uploads.public_download.link.anchor'), public_download_project_upload_path(upload.project, upload), :rel => 'facebox', :title => t('uploads.public_download.link.title')
    - if can?(:update, upload) # and request.format != :m
      = link_to t('common.rename'), [:edit, upload.project, upload], :remote => true, :class => "link_rename"
      = link_to t('uploads.moveable.title'), project_move_resource_path(upload.project, upload), :class => "move_resource" if upload.moveable?
      = link_to t('common.delete'), [upload.project, upload], :remote => true, :method => 'delete', :confirm => t('confirm.delete_upload')

