.upload{ :id => "upload_#{upload.id}" }
  .info
    = link_to upload.file_type, upload.url, :class => upload.file_type
  .block
    .filename.show_details
      .date
        = posted_date upload.created_at          
      .body
        .file
          = upload_link(project,upload)
          = '(' + number_to_human_size(upload.size) + ')'
        - if upload.description
          .description
            = upload.description
        .reference
          = t('.uploaded_by')
          = user_link(upload.user)
          = activity_comment_target_link(upload.comment, t('.on_')) if upload.comment
          - if upload.editable?(current_user)
            = " - "
            = destroy_upload_link(project,upload)
  .clear