- if can? :upload_files, @current_project
  - if @upload.errors.empty?
    .text_actions
      = link_to content_tag(:span, t('.new_folder')), '#', :class => 'add_button', :id => 'new_folder_button'
      = link_to content_tag(:span, t('.new_file')), '#', :class => 'add_button', :id => 'upload_file_button'

%h2= t('.title', :project => @current_project)

- if can? :upload_files, @current_project
  - if @upload.errors.empty?
    = render 'uploads/form', :project => @current_project, :upload => @upload, :page => nil
- else
  %p= t('.cant_create')

- if @parent_folder
  .breadcrumbs
    = folder_breadcrumbs
  
.uploads
  - if @parent_folder
    = render 'uploads/parent_folder', :folder => @parent_folder
  = render 'uploads/new_folder'
  = render :collection => @folders, :partial => 'uploads/folder'

  = render @uploads

