#new_upload
  = error_messages_for :upload
  - form_for @upload, :url => project_uploads_path, :html => { :multipart => true } do |f|
    .file
      Select a file to upload
      %br
      = file_column_field 'upload', 'file'

    .description
      = f.label :description
      %br
      = f.text_field :description
    = submit_tag 'Upload'