%p= t '.share_outside_your_team'

= form_for @upload, :url => email_public_project_upload_path(@current_project, @upload), :html => {:method => :post} do |f|
  .text_field{ :style => 'display: inline-block' }
    = f.label :invited_user_email, t('.enter_an_email')
    = f.email_field :invited_user_email
  = f.submit t('uploads.public_download.email.submit'), :'data-disable-with' => 'Sending...'

- link = public_download_file_url(:token => @upload.token)
%p= t '.share_link'
%p= link_to link, link, :target => "_blank"
%p= t '.security_clarification'
