%p= t 'downloadable.share_outside_your_team', :downloadable => localized_downloadable_type(@downloadable)

= form_for @downloadable, :as => :downloadable, :url => project_email_public_download_path(@current_project, @downloadable), :html => {:method => :post} do |f|
  = f.hidden_field :downloadable_type, :value => downloadable_type(@downloadable)
  .text_field{ :style => 'display: inline-block' }
    = f.label :invited_user_email, t('downloadable.enter_an_email', :downloadable => localized_downloadable_type(@downloadable))
    = f.email_field :invited_user_email
  = f.submit t("downloadable.email.submit"), :'data-disable-with' => t('downloadable.sending')

- link = downloadable_type(@downloadable) == 'upload' ? public_download_file_url(:token => @downloadable.token) : public_download_folder_url(:token => @downloadable.token)
%p= t 'downloadable.share_link', :downloadable => localized_downloadable_type(@downloadable)
%p= link_to link, link, :target => "_blank"
%p= t 'downloadable.security_clarification', :downloadable_ext => t("downloadable.security_clarification_ext.#{localized_downloadable_type(@downloadable)}".html_safe)
