.activity{ :class => "#{activity.action_type}" }
  .activity_icon{ :class => "activity_#{activity.target_type.to_s.underscore}" }
  %span.name
    = link_to activity.user.name, user_path(activity.user)
  %span
    = t(".#{activity.action_type}")
  %span.target
    = action_link
  .date
    = posted_date activity.posted_date
  .clear