.activity
  = thumb_avatar(person.user)
  .container
    .date= posted_date activity.posted_date
    %span.user=h person.user.name
    = t(".#{activity.action_type}") # was invited to the project
    = link_to h(activity.project), activity.project
    = #t(".by")
    = #activity.user
  .clear