.activity{ :class => "activity_#{activity.action_type}" }
  .activity_icon{ :class => "activity_#{activity.target_type.to_s.underscore}" }
  %span.name
    = activity.user.name
  = t(".#{activity.action_type}")
  = activity_project_link(activity.project,:after) unless location_name?('show_projects')
  = link_to note.page, project_page_path(note.page.project, note.page)
  &rarr;
  = note
  .date
    = posted_date activity.posted_date
  .clear