.activity
  = thumb_avatar(activity.user, false)
  .container
    .date= posted_date upload.created_at
    = activity_title(activity, false, true)
    = activity_project_link(activity.project)
    %p 
      = upload_link(upload.project,upload)
      = number_to_human_size(upload.size)
  .clear