.activity
  = thumb_avatar(activity.user)
  .container
    .date= posted_date upload.created_at
    = activity_title(activity, false, true)
    = activity_project_link(activity.project)
    %p 
      = link_to_upload(upload, upload.file_name)
      = number_to_human_size(upload.size)
  .clear