.activity
  = thumb_avatar(activity.user)
  .container
    %span.user=h activity.user.short_name
    = t(".#{activity.action_type}")
    = link_to h(task), project_task_path(task.project, task)
    = activity_project_link(activity.project)
    .date
      = posted_date activity.posted_date
  .clear
