.activity
  = thumb_avatar(activity.user)
  .container
    %span.user= activity.user.short_name
    = t(".#{activity.action_type}")
    = link_to task, project_task_list_task_path(task.project, task.task_list, task)
    = activity_project_link(activity.project)
    .date
      = posted_date activity.posted_date
  .clear
