.activity{ :class => "#{activity.action_type}" }
  .activity_icon{ :class => "activity_#{activity.target_type.to_s.underscore}" }
  = link_to person.user.name, user_path(person.user)
  = t(".#{activity.action_type}") # was invited to the project
  = link_to activity.project, activity.project unless location_name?('show_projects')
  = #t(".by")
  = #link_to activity.user, user_path(activity.user)
  - unless rendering_rss?
    .date
      = posted_date activity.posted_date
  .clear