.activity
  = thumb_avatar(person.user)
  .container
    .date= posted_date activity.updated_at
    %span.user=h person.user.name
    = t(".#{activity.action_type}") # was removed from the project
    = link_to h(activity.project), activity.project
    = t(".by")
    =h activity.user
  .clear