- thread = activity.thread
- thread_id = "#{thread.class.to_s}_#{thread.id}"
- thread_link = thread.is_a?(Task) ? [thread.task_list.project, thread.task_list, thread] : [thread.project, thread]
- comments = thread.comments
.thread{ :id => "thread_#{thread_id}" }
  - if thread.is_a?(Conversation) and thread.simple and comments.size > 0
    = render comments.pop, :simpleconv => true
  - else
    .title
      .info
        = thumb_avatar(thread.user) if thread.user
      %div.date
        = posted_date(thread.created_at)
      %span.starter
        = link_to(thread.user.name, thread.user) if thread.user
        = t("activities.thread.created.#{thread.class.to_s.downcase}", :project => thread.project.name)
        = activity_project_link(thread.project)
      %span.thread_title
        = link_to thread, thread_link, :class => thread.class.to_s.downcase
        - if thread.is_a?(Task)
          = t('.on_task_list')
          = link_to thread.task_list, [thread.task_list.project, thread.task_list], :class => 'task_list'
  .comments{ :id => "thread_#{thread_id}_comments" }
    = render 'activities/thread_comments', :comments => comments, :thread => thread
  .reply{ :id => "thread_#{thread_id}_reply" }
    - unless thread.is_a?(Task) && thread.closed?
      = new_comment_form(thread.project, thread.project.comments.new, :target => thread, :thread => true)
