- thread_id = "#{thread.class.to_s}_#{thread.id}"
- if comments.size > 2
  %span.more_comments
    = link_to_remote t('activities.thread.more_comments', :count => comments.size - 2),
      :url => show_thread_path(thread, :thread_type => thread.class.to_s),
      :method => :get,
      :loading => full_thread_loading(thread_id)
    = loading_image("#{thread_id}_more_comments")
- comments[0..1].reverse.each do |comment|
  = render :partial => 'comments/comment', :locals => { :comment => comment, :threaded => true }
