%h1= image_tag @organization.logo.url(:top), :alt => h(@organization.name)

- form_tag sites_path, :class => 'new_session', :id => 'new_session' do
  = hidden_field_tag :id, @organization.permalink
  = upgrade_browser
  = render 'sites/fields'
  = submit_tag t('.submit')

.signup_or_forgot_links
  %p= link_to t('sessions.fields.forgot'), forgot_password_path, :tabindex => 203
