=error_messages_for :client_application
.text_field
  = f.label :name, t('.name')
  = f.text_field :name

.text_field
  = f.label :url, t('.url')
  = f.text_field :url

.text_field
  = f.label :callback_url, t('.callback_url')
  = f.text_field :callback_url

.text_field
  = f.label :support_url, t('.support_url')
  = f.text_field :support_url

