- content_for :column do
  = render 'shared/user_navigation'

%h2= t('.title')

= new_oauth_client_link

- if @client_applications.empty?
  %p= t('.no_registered_applications_html')
- else
  %p= t('.registered_applications_html')
  #oauth_clients
    = render :partial => 'client', :collection => @client_applications
