%h2= t('.title')

= form_for(@reset_password) do |f|
  .email.text_field
    = f.label :email
    = errors_for @reset_password, :email
    = f.text_field :email, :autofocus => true
  .submit
    = submit_tag t('.submit')

= link_to t('.back'), login_path
