%h2= t('.title')

= form_for(:user, :url => update_after_forgetting_path) do |f|
  %p.message
    = t('.reset_your_password')
  - if flash[:notice]
    %p.reset_gone
      =h flash[:notice]
  .password.text_field
    = f.label :password
    = f.password_field :password
    - if @password
      - if @password.user.errors.invalid?(:password)
        %p.error
          = @password.user.errors.on(:password)
  .password.text_field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
    - if @password
      - if @password.user.errors.invalid?(:password_confirmation)
        %p.error
          = @password.user.errors.on(:password_confirmation)
  .submit
    = hidden_field_tag :reset_code, params[:reset_code]
    = f.submit t('.submit')

