!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html;charset=utf-8" }
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    %title Teambox API documentation
    = include_stylesheets :apidocs

  %body{ :class => "#{location_name} #{I18n.locale} #{Rails.env}"}
    .top{ :style => 'background-color: rgb(255,255,220); border-bottom: 1px solid rgb(200,200,150); width: 100%; display: block; font-size: 12px; padding: 10px 0; text-align: center' }
      This is a developer preview of Teambox API 1.0.
      It's in beta, so it's subject to changes.
      = link_to "Send us your feedback", "http://teambox.com/community"
    .container
      .wrapper
        #header
          = link_to image_tag('teambox-logo.gif', :alt => 'Teambox project management', :style => 'float:right'), root_path
          %h1 API documentation
          .clear
        .content
          - show_flash
          = yield
        .column
          #sidebar
            = yield :column
      .footer
        %p.copyright Copyright &copy; 2011 Teambox. All rights reserved

