!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html;charset=utf-8" }
    = current_user_tag if current_user
    = csrf_meta_tag
    = auto_discovery_link_by_context(current_user, @current_project)
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    %title= "#{@page_title} Teambox"
    = stylesheet_link_tag 'application', :media => :screen
    = stylesheet_link_tag 'print', :media => :print
    = sprockets_include_tag
    = yield :js_includes
    - javascript_tag do
      = yield :js_templates
  %body{ :class => "#{location_name} #{I18n.locale} #{Rails.env}", :reload_url => reload_url}
    = javascript_include_tag 'modernizr', 'environment'
    = archived_project_strip(@current_project)
    .container
      = header
      = navigation(@current_project,current_user.projects,current_user.recent_projects) unless current_user.betatester
      = compact_navigation(@current_project) if current_user.betatester
      .wrapper
        = project_navigation(@current_project) unless current_user.betatester
        - show_flash
        - if yield :banner
          .banner= yield :banner
        - content_for_column = yield :column
        %div{ :class => content_for_column.blank? ? 'content_wrap_single' : 'content_wrap' }
          .content#content= yield
        - unless content_for_column.blank?
          .column_wrap
            .column#column= content_for_column
      = footer
    #screenflash
    = javascripts
