!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html;charset=utf-8" }
    %title
      Teambox
    = stylesheet_link_tag 'application'
    = sprockets_include_tag
  %body{ :class => "#{location_name} #{I18n.locale} #{ENV['RAILS_ENV']}"}
    .container
      = header
      = global_navigation
      = hot_flashes(flash)
      = navigation(@current_project,@recent_projects)
      .wrapper
        -unless location_name?('welcome_users')
          = project_navigation(@current_project)
        -unless @content_for_banner.nil?
          .banner
            = yield :banner
        %div{ :class => "#{@content_for_column.nil? ? 'content_wrap_single' : 'content_wrap'}" }
          .content#content
            = yield
        -unless @content_for_column.nil?
          .column_wrap
            .column#column
              = yield :column
            = profile_completeness
          .clear
      = footer
    = javascripts