!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html;charset=utf-8" }
    - if current_user
      %meta{ :name => 'current-username', :content => current_user.login }
    = csrf_meta_tag
    = auto_discovery_link_by_context(current_user, @current_project)
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    %title
      = @page_title
      Teambox
    = stylesheet_link_tag 'application', :media => :screen
    = stylesheet_link_tag 'print', :media => :print
    = sprockets_include_tag
    = yield :js_includes
    - javascript_tag do
      = yield :js_templates
  %body{ :class => "#{location_name} #{I18n.locale} #{ENV['RAILS_ENV']}", :reload_url => reload_url}
    = javascript_include_tag 'modernizr', 'environment'
    = strip(@current_project)
    .container
      = render 'shared/header'
      = navigation(@current_project,current_user.projects,current_user.recent_projects)
      .wrapper
        = project_navigation(@current_project)
        - show_flash
        
        - if yield :banner
          .banner= yield :banner
        
        - content_for_column = yield :column
        %div{ :class => content_for_column.blank? ? 'content_wrap_single' : 'content_wrap' }
          .content#content= yield
        - unless content_for_column.blank?
          .column_wrap
            .column#column= content_for_column

      = footer