!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ :charset => "UTF-8" }
    %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=edge" }
    = csrf_meta_tag
    = auto_discovery_link_by_context(current_user, @current_project)
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    %title= "#{@page_title} Teambox"
    = include_stylesheets :application, :media => :screen
    = include_stylesheets :print, :media => :print
    = stylesheet_link_tag 'cucumber', :media => :screen if Rails.env.cucumber?
    = yield :stylesheet_includes
    = organization_link_colour
    = sprockets_include_tag
    = yield :js_includes
    = javascript_tag do
      = yield :js_templates
  %body{ :class => "#{location_name} #{I18n.locale} #{Rails.env} controller_#{controller.controller_name}", :reload_url => reload_url}
    = javascript_include_tag '/i18n/environment'
    = load_my_avatar_for_new_comments
    = load_javascript_user_data
    = archived_project_strip(@current_project)
    #header_wrap
      = header
    = configure_this_organization
    #container.container
      .wrapper
        - show_flash
        .content_wrap
          .content#content= yield
        .column_wrap
          .column#column
            = render 'shared/navigation'
            .view_sidebar
              = yield :column
      = footer
    = autocomplete_projects_people_data
    = projects_people_data

