!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ :charset => "UTF-8" }
    %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=edge" }
    = csrf_meta_tag
    = session_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    %title= "Teambox"
    = include_stylesheets :application, :media => :screen
    = include_stylesheets :print, :media => :print
    /[if IE 7]
      = include_stylesheets :ie7, :media => :screen
    = yield :stylesheet_includes
    = stylesheet_link_tag 'cucumber', :media => :screen if Rails.env.cucumber?
    = trimmer_include_tag
    = javascript_include_tag Rails.env.development? ? "/sprockets.js?#{Time.now.to_i}" : "/sprockets.js"
    = yield :js_includes
  %body{ :class => "loading locale_#{I18n.locale} #{Rails.env}" }
    = render 'shared/loading'
    = load_my_avatar_for_new_comments
    = load_javascript_user_data
    = render 'shared/keyboard'
    = render 'shared/beta_notice'
    #header_wrap= render 'shared/header'
    -# container and wrapper are useless with the current layout
    -# i'm keeping them because we need to make sure it doesn't break the JS
    #container.container
      .wrapper
        .column_wrap
          .column#column
            = render 'shared/navigation'
        .content_wrap
          .separator
            %span#view_title
          .content_scroll
            .content#content
    = projects_people_data
    = hide_google_docs_if_not_configured
