!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ :charset => "UTF-8" }
    %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=edge" }
    = csrf_meta_tag
    = session_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    %title= "Teambox"
    = include_stylesheets :application, :media => :screen
    = include_stylesheets :print, :media => :print
    /[if IE 7]
      = include_stylesheets :ie7, :media => :screen
    = yield :stylesheet_includes
    = stylesheet_link_tag 'cucumber', :media => :screen if Rails.env.cucumber?
    = trimmer_include_tag
    = sprockets_include_tag
    = yield :js_includes
  %body{ :class => "loading folded_aux #{I18n.locale} #{Rails.env}" }
    = render 'shared/loading'
    = load_my_avatar_for_new_comments
    = load_javascript_user_data
    = render 'shared/keyboard'
    - if Rails.env.production?
      .beta_notice
        This is a beta preview of the next Teambox release, which could have bugs.
        %a{ :href => "http://teambox.com" }
          Go back to normal Teambox.
    #header_wrap
      = render 'shared/header'
    =# configure_this_organization
    -# container and wrapper are useless with the current layout
    -# i'm keeping them because we need to make sure it doesn't break the JS
    #container.container
      .wrapper
        .column_wrap
          .column#column
            = render 'shared/navigation'
        .content_wrap
          .separator
            %span#view_title
              = t("navigation.recent_activity")
          .content#content
            -# TODO: [MARKUP] Convert to simple conversation backbone view
            %form#new_conversation_form
              .big_avatar
                %span
              .textarea_big
                %textarea{:cols => "40", :placeholder => "Write here"}
              .info_new_conversation
                .dropdown_projects
                  %label.info_label{:for => "field_projects"} Comment on
                  %div
                    %input#field_projects{:autocomplete => "on", :placeholder => "Select a project", :type => "text"}/
                    %a.dropdown_arrow{:href => "#"}
                    %ol.dropdown_autocomplete
                      %li Development
                      %li Yoga projects
                      %li Teambox
                %a.button_blue{:href => "#"}
                  %span Save
                .new_comment_actions_div
                  %span.info_label More actions
                  %ol.new_comment_actions
                    %li
                      %a.btn_attach{:href => "#"}
                    %li
                      %a.btn_doc{:href => "#"}
                    %li
                      %a.btn_users{:href => "#"}
                    %li
                      %a.btn_lock{:href => "#"}

        .aux_wrap
          .separator
            Contextual
            %span.fold_aux= link_to "&rarr;".html_safe, "#"
          .view_sidebar
            = yield :column
      =# footer
    = projects_people_data
    = hide_google_docs_if_not_configured
