!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html;charset=utf-8" }
    %title
      Teambox
    = stylesheet_link_tag 'application'
    = sprockets_include_tag
  %body{ :class => "splash #{location_name} #{I18n.locale}"}
    .container
      .header
        = image_tag('header_logo_large.jpg')
      = global_navigation
      = hot_flashes(flash)
      = navigation(@current_project,@recent_projects)
      .content= yield
      .sell_column= yield :sell_column
      .column= yield :column
      = footer
    = javascripts