!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ :charset => "UTF-8" }
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    %title= @page_title || "Teambox"
    = stylesheet_link_tag 'public_downloads'
    =# javascript_include_tag '/javascripts/prototype'
  %body{ :class => "#{location_name} #{I18n.locale} #{Rails.env} controller_#{controller.controller_name}"}
    #wrapper
      #logo
        = link_to image_tag("header_logo_black.png", :alt => "Project Management Software"), "http://teambox.com"
        %span= link_to "team collaboration", "http://teambox.com"
      #content
        = yield
      - unless @current_user
        #promo
          %p This file is shared using Teambox, a collaboration platform for your projects.
          %p Enjoy better task management, file sharing and group communication.
          %p= link_to "Get started now for free", "http://teambox.com/signup"
