!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html;charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/images/favicon.ico" }
    %title
      Teambox
    = stylesheet_link_tag 'sessions'
    = sprockets_include_tag

  %body{ :class => "#{location_name} #{I18n.locale} #{ENV['RAILS_ENV']}"}
    .container
      .navigation_wrap
        .navigation
          %ul
            %li= link_to_public_page 'home'
            %li= link_to_public_page 'tour'
            %li= link_to_public_page 'users'
            %li= link_to_public_page 'services'
            %li= link_to_public_page 'community'
            %li= link_to_public_page 'help'
      .wrapper
        .content
          - show_flash
          = yield
        .column
          #sidebar
            = image_tag 'teambox-logo.gif', :alt => 'Teambox logo'
            = yield :column
      .footer
        %p.copyright Copyright &copy; 2010 Teambox. All rights reserved
        %p.footer_nav
          = link_to_public_page 'privacy'
          &#183;
          = link_to_public_page 'terms'
      = javascripts