!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html;charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/images/favicon.ico" }
    %title
      Teambox
    = stylesheet_link_tag 'application'
    = sprockets_include_tag
  %body{ :class => "splash #{location_name} #{I18n.locale}"}
    .container
      .header
        = image_tag('header_logo_large.png')
      = global_navigation
      = hot_flashes(flash)
      .content
        = yield
      = footer
    = javascripts