!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html;charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    %title=h @organization
    = include_stylesheets :sites
    = sprockets_include_tag :public

  %body{ :class => "#{location_name} #{I18n.locale} #{Rails.env}"}
    .container
      .wrapper
        .content
          - show_flash
          = yield
        .column
          #sidebar
            = yield :column
      .footer
        %p.copyright
          Teambox 
          = link_to random_keyword, "http://teambox.com"

